.copy {	FONT-SIZE: 12px; COLOR: #ffffff}
BODY {	FONT-SIZE: 12px;	COLOR: #000000;	background-color: #E7FAFF;	background-image: url(images/login_06.gif);	background-repeat: repeat-y;}
TD {	FONT-SIZE: 12px; COLOR: #000000}
TH {	FONT-SIZE: 12px; COLOR: #000000}
.input1{height:20px; }
