@charset "utf-8";
/* CSS Document */
* {
	margin: 0 auto;
}

body {
	background-color: #8ed1f0;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 80%;
}

li a {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

.headBox {
	width: 505px;
	height: 96px;
	margin: 0 auto;
}

.lgbefore {
	width: 185px;
	height: 96px;
	margin: 0 auto;
	float: left;
}

.lgafter {
	width: 320px;
	height: 96px;
	background-image: url(../images/after.png);
	margin: 0 auto;
	float: left;
}

.bg {
	width: expression_r(document.body.clientWidth <= 1319 ? "1319px" : "auto");
	min-width: 1319px;
}

.btn {
	background-color: #00b4ff;
	width: 70px;
	height: 25px;
	color: #FFF;
	font-weight: bold;
}

.pic-word {
	margin: 0 auto;
	padding-top: 10%;
}

.pic-content {
	width: 442px;
	height: 289px;
	float: left;
	margin-top: 50px;
}

.appcontent {
	width: 430px;
	float: left;
	margin-top: -239px;
}

.login {
	top: 260px;
	width: 100%;
	height: 374px;
	padding-top: 0px;
	overflow: hidden;
	position: absolute;
	width: expression_r(document.body.clientWidth <= 1319 ? "1319px" : "auto");
	min-width: 1319px;
}

@media only screen and ( max-height:900px) {
	.pic-word {
		padding-top: 3%;
	}
	.login {
		top: 13%;
	}
}

.centent {
	width: 100%;
	height: 402px;
	background-image: url(../images/content.png);
}


@media only screen and ( max-width:1903px) {
	.centent00 {
		zoom: 0.6;
	}
}

.pic-center {
	width: 442px;
	padding-top: 30px;
	float: left;
}

.pic-bord {
	width: 389px;
	height: 289px;
	background-image: url(../images/bord.png);
	float: left;
}

.pic-app {
	width: 53px;
	height: 259px;
	float: right;
}

.btn-word {
	padding-top: 7px;
	padding-left: 0px;
	font-size: 16px;
}

.footer {
	color: #FFF;
	text-align: center;
	font-size: 12px;
	position: fixed;
	background: #4ba0c8 repeat-x;
	height: 55px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	width: expression_r(document.body.clientWidth <= 1319 ? "1319px" : "auto");
	min-width: 1319px;
	background-repeat: repeat-x;
}

.tet {
	width: 180px;
	height: 25px;
}

.text1 {
	height: 30px;
	width: 30px;
	background-image: url(../images/ico1.png);
	padding: 0 0 0 35px;
}

.text2 {
	height: 30px;
	width: 30px;
	background-image: url(../images/ico1.png);
	padding: 0 0 0 -35px;
}

.clear {
	clear: both;
}

.ui-form-item {
	padding: 30px 0 0 80px;
	zoom: 1;
	position: relative;
}

.ui-form-btn {
	padding: 0px 0 0 25px;
	zoom: 1;
	position: relative;
}

.ui-label {
	width: 32px;
	height: 38px;
	display: block;
	float: left;
	cursor: pointer
}

.ui-label .ui-icon {
	width: 32px;
	height: 35px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url(../images/ico1.png);
	_background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ui-icon-userDEF {
	background-position: 0px 1px
}

.ui-icon-password {
	background-position: -38px 1px
}

.ui-poptip {
	color: #DB7C22;
	z-index: 101;
	font-size: 12px;
	line-height: 1.5;
	zoom: 1;
	cursor: default
}

.ui-input {
	float: left;
	position: relative;
	padding: 9px;
	line-height: 16px;
	height: 17px;
	color: #595959;
	font-size: 14px;
	vertical-align: middle;
	*vertical-align: -5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0px;
}

.ui-input-normal, .standardPwdContainer .ui-input, .alieditContainer .ui-input
	{
	width: 222px;
	_width: 220px
}

.ui-form-explain {
	display: none;
	height: 0;
	overflow: hidden
}

.submitBtn {
	width: 120px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin: 10px 17px 0;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: #34c5ef;
	color: #fff;
	text-decoration: none;
}

.submitBtn:hover {
	width: 120px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin: 10px 17px 0;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: #008dc8;
	color: #fff;
}

.submitBtn1 {
	width: 118px;
	height: 33px;
	line-height: 33px;
	cursor: pointer;
	margin-top: 10px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	border: 2px solid #34c5ef;
	color: #fff;
	text-decoration: none;
}

.submitBtn1:hover {
	width: 118px;
	height: 33px;
	line-height: 33px;
	cursor: pointer;
	margin-top: 10px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	border: 2px solid #008dc8;
	background-color: #008dc8;
	color: #fff;
}

.ui-input-normal1 {
	width: 100px;
	border-radius: 5px;
}

.verification {
	width: 90px;
	height: 26px;
	display: block;
	float: left;
	cursor: pointer;
	background-color: #FFF;
	margin: 5px 25px;
}

.notice {
	color: #C54040;
	font-size: 12px;
	padding-top: 5px;
}

.appdown {
	padding-top: 30px;
	width: 53px;
	height: 259px;
	background-image: url(../images/appdown.png);
}

.appdown:hover {
	padding-top: 30px;
	width: 53px;
	height: 259px;
	background-image: url(../images/appdown-after.png);
}

.appdown1 {
	width: 430px;
	height: 289px;
	background-image: url(../images/app.png);
	display: none;
	position: relative;
	margin-top: 30px;
}
img{
	border:none;
}
.pic {
	float: left;
	position: relative;
	color: #FFF;
	font-size: 12px;
}

.pic1 {
	margin: 7px 0 15px 15px;
	font-size: 18px;
}

.cols {
	float: left;
	margin-right: 20px;
	display: inline;
	height: 250px;
	overflow: hidden;
}

.cols1 {
	width: 188px;
	text-align: left;
}

.cols1 .pic .black {
	height: 430px;
}

.cols3 {
	width: 139px;
	margin: 10px 30px;
}

.cols3 .h185 .black {
	height: 10px;
}

.cols3 .h240 .black {
	height: 30px;
}

.pic li {
	list-style: none;
	width: 190px;
	font-size: 12px;
}

.icon {
	display: inline-block;
	background-image: url(../images/point.png);
	width: 8px;
	height: 8px;
	margin: 10px 10px 0px 0px;
}

.cur {
	border-bottom: 2px solid;
	border-bottom-color: #FFF;
}

.appBtn {
	width: 50px;
	height: 25px;
	border-bottom: 2px solid;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0px 35px;
}

.appBtn:hover {
	width: 50px;
	height: 25px;
	border-bottom: 2px solid;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0px 35px;
}

.appBtn1 {
	width: 50px;
	height: 25px;
	color: #287599;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0px 105px;
}

.appBtn1:hover {
	width: 50px;
	height: 25px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-bottom: 2px solid;
	border-bottom-color: #FFF;
	margin: 0px 105px;
	color: #FFF;
}

.appcode {
	height: 30px;
	color: #FFF;
	padding-top: 10px;
	font-size: 16px;
}

.space {
	height: 180px;
}

#lcenter {
	width: 442px;
	height: 289px;
}

#family {
	display: block;
}

#store {
	display: none;
}
/*2015-08-06 二维码切换*/
.handle {
	float:left;
	margin:0 3px;
	width:32px;
	height:186px;
	cursor:pointer;
	background:#38c1e8;
	font:bold 14px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#FFF;
	border-radius:5px;
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out;
	-ms-transition:0.3s ease-in-out;
	behavior:url(PIE.htc)
}
.handle:hover {
	background:#8ed1f0;
	-webkit-transform:scale(1.02);
	-moz-transform:scale(1.02);
	-ms-transform:scale(1.02);
	-o-transform:scale(1.02);
	behavior:url(PIE.htc)
}
.select {
	background:#8ed1f0;
}
.slide {
	float:left;
	width:200px;
	height:500px;
	margin:0 4px;
	display:none;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
	behavior:url(PIE.htc)
}
.rotate {
	margin:15px 8px;
}
li {
	list-style:none;
}
.downIco {
	width:139px;
	height:32px;
	line-height:32px;
	color:#2cadd2;
	background-color:#FFF;
	font-size:16px;
	font-weight:bold;
	position:relative;
	float:left;
	border-radius:3px;
}
.downIco span {
	float:left;
	margin:0 8px 0 40px;
}
.downIco i {
	background-image:url(../images/downIco.png);
	width:20px;
	height:20px;
	margin-top:6px;
	display:block;
	float:left;
}