@charset "utf-8";
/* CSS Document */
body, html {
	font-family: "微软雅黑";
	font-size: 12px;
	overflow: hidden;
	height: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:focus {
	outline: none;
}

#h1 {
	background-color: #000;
	min-height: 30px;
}

#h2 {
	padding-top: 32px;
	height: 147px;
	background-color: #FFF;
}

.header {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 163px;
	padding-top: 0px;
	overflow: hidden;
	z-index: 99;
}

#pictures {
	z-index: -99;
}

.left {
	float: left;
}

#top-right {
	width: 600px;
	float: right;
}

.right {
	float: right;
}

#top-left1 {
	padding-right: 0;
	padding-left: 0;
}

#top-left1:hover, #top-left2:hover {
	height: 30px;
	background-color: #3b3b3b;
}

#codeshow {
	background-image: url(../../images/ishangimg/codebg.png);
	position: absolute;
	width: 165px;
	height: 271px;
	margin: 30px 0 0;
	z-index: 999;
	display: none;
}

.top-font {
	float: left;
	margin: 5px 4px;
}

.top-fontb {
	float: right;
	padding: 5px 10px;
}

.loginbtn1:hover {
	color: #F00;
}

.loginbtn2:hover {
	color: #F00;
}

.contentw {
	margin: 0 auto;
	height: 30px;
	color: #FFF;
}

#nav a:hover {
	color: #00a1fe;
	text-decoration: none;
	padding-bottom: 6px;
	border-bottom: 5px solid #00a0e9;
	z-index: 0;
	outline: none;
}

#nav a.active {
	color: #00a1fe;
	text-decoration: none;
	border-bottom: 5px solid #00a0e9;
	padding-bottom: 6px;
	z-index: 0;
	outline: none;
}

.nav ul li {
	float: left;
}

.fullpage-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	margin-top: 130px;
}

.first {
	height: 80px;
}

.second {
	height: 35px;
}

.btnsearch {
	color: #FFF;
}

.sfont {
	padding: 20px;
}

.navpadding {
	padding-left: 99px
}

.logo {
	background-image: url(../../images/ishangimg/logo.png);
	height: 70px;
	width: 200px;
}

.logo-after {
	margin: 20px 0 5px;
}

.search {
	background-color: #00a0e9;
	border-radius: 5px;
}

.btsearch {
	width: 500px;
	height: 28px;
	margin-top: 5px;
}

.search-text {
	width: 626px;
	height: 38px;
	border: 2px solid #00a0e9;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.search-btn {
	width: 80px;
	height: 20px;
	float: right;
	margin: 6px 0 0;
	font-size: 16px;
}

.cart {
	width: 139px;
	height: 38px;
	background-color: #ffb932;
	border-radius: 5px;
	margin: 20px 15px;;
	color: #FFF;
}

.ico-cart {
	width: 28px;
	height: 28px;
	float: left;
	background-image: url(../../images/ishangimg/cart.png);
	margin: 3px;
}

.nav {
	font-size: 18px;
	color: #000;
}

.footer {
	bottom: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	background-color: #e3e7e9;
	height: 30px;
	color: #404040;
	padding-top: 20px;
	text-align: center;
	font-size: 14px;
}

.btn {
	font-size: 18px;
	margin: 22px 0 0 0;
	float: right;
	text-align: center;
	font-size: 16px;
	font-family: "微软雅黑", "microsoft yahei";
	cursor: pointer;
}

.submitBtn {
	width: 80px;
	height: 25px;
	line-height: 25px;
	margin-top: 8px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #4ac4f2;
	color: #fff;
	text-decoration: none;
}

.submitBtn:hover {
	background-color: #35a8d3;
	color: #fff;
	text-decoration: none;
}

.submitBtn1 {
	width: 78px;
	height: 23px;
	line-height: 23px;
	margin-top: 8px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #4ac4f2;
	color: #4ac4f2;
	text-decoration: none;
}

.submitBtn1:hover {
	text-align: center;
	border: 2px solid #35a8d3;
	background-color: #35a8d3;
	color: #fff;
	text-decoration: none;
}

i {
	font-style: normal;
}

.ci-right {
	float: right;
	height: 16px;
	width: 16px;
	display: block;
	background-image: url(../../images/ishangimg/down-list.png);
	_background-image: url(../../images/ishangimg/down-list.png);
	background-repeat: no-repeat;
}

.icon-man {
	float: right;
	width: 26px;
	height: 26px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background-image: url(../../images/ishangimg/ico-man.png);
	_background-image: url(../../images/ishangimg/ico-man.png);
	background-repeat: no-repeat;
}

.icon-tel {
	float: left;
	width: 26px;
	height: 26px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background-image: url(../../images/ishangimg/ico-tel.png);
	_background-image: url(../../images/ishangimg/ico-tel.png);
	background-repeat: no-repeat;
	margin: 0 10px 2px;
	15
	px;
}

.icon-phone {
	float: left;
	width: 26px;
	height: 26px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background-image: url(../../images/ishangimg/ico-phone.png);
	_background-image: url(../../images/ishangimg/ico-phone.png);
	background-repeat: no-repeat;
	margin: 0 15px 2px;
}

.fp-section {
	position: relative;
	-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
	-moz-box-sizing: border-box; /* <=28 */
	box-sizing: border-box;
}

.fadeInTop {
	-webkit-animation-name: fadeInTop;
	-moz-animation-name: fadeInTop;
	-o-animation-name: fadeInTop;
	animation-name: fadeInTop;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}

@
-webkit-keyframes fadeInTop { 0% {
	opacity: 0;
	-webkit-transform: translate3d(30%, 0, 0);
	transform: translate3d(30%, 0, 0);
}

100%
{
opacity
:
 
1;
-webkit-transform
:
 
translate3d
(0
,
0%,
0);
transform
:
 
translate3d
(0
,
0%,
0);
}
}
@
-moz-keyframes fadeInTop { 0% {
	opacity: 0;
	-moz-transform: translate3d(30%, 0, 0);
	transform: translate3d(30%, 0, 0);
}

100%
{
opacity
:
 
1;
-moz-transform
:
 
translate3d
(0
,
0%,
0);
transform
:
 
translate3d
(0
,
0%,
0);
}
}
@
keyframes fadeInTop { 0% {
	opacity: 0;
	-moz-transform: translate3d(30%, 0, 0);
	transform: translate3d(30%, 0, 0);
}

100%
{
opacity
:
 
1;
-moz-transform
:
 
translate3d
(0
,
0%,
0);
transform
:
 
translate3d
(0
,
0%,
0);
}
}
#fp-nav {
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}

#fp-nav.right {
	right: 24px;
}

#fp-nav.left {
	left: 17px;
}

.fp-slidesNav {
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
}

.fp-slidesNav.bottom {
	bottom: 17px;
}

.fp-slidesNav.top {
	top: 17px;
}

#fp-nav ul, .fp-slidesNav ul {
	margin: 0;
	padding: 0;
}

#fp-nav ul li, .fp-slidesNav ul li {
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	margin-bottom: 20px;
	position: relative;
}

@media ( max-width : 480px) {
	margin-bottom
	:
	 
	12
	px
	!important;
	
 
}

.fp-slidesNav ul li {
	display: inline-block;
}

#fp-nav ul li a, .fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
	background: #f4fafe;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}

#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	opacity: 0;
	width: 0;
}

#fp-nav ul li:hover .fp-tooltip {
	-webkit-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
	width: auto;
	opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
	right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
	left: 20px;
}

.codebg {
	width: 100%;
	margin-top: 250px;
	/*display:none;*/
	top: -150px;
	z-index: 1000;
	position: fixed;
	opacity: 1;
}

.codebg1 {
	width: 200px;
	height: 350px;
	float: right;
	padding-right: 11%;
}

@media only screen and ( max-width:1530px) {
	.codebg1 {
		zoom: 0.6;
		padding-right: 5%;
	}
}

/*login.css*/
input {
	border: none;
}

ul {
	-webkit-padding-start: 0;
}

.ui-form-item {
	padding: 30px 0 0;
	zoom: 1;
	position: relative;
}

.ui-label {
	width: 38px;
	height: 42px;
	display: block;
	float: left;
	cursor: pointer;
}

.ui-label .ui-icon {
	width: 38px;
	height: 42px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url(../../images/ishangimg/ico-login.png);
	_background-image: url(../../images/ishangimg/ico-login.png);
	background-repeat: no-repeat;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #dadada;
	border-right-width: 0px;
}

.ui-icon-userDEF {
	background-position: -90px 7px;
}

.ui-icon-password {
	background-position: -125px 7px;
}

.ui-input {
	float: left;
	position: relative;
	padding: 9px;
	line-height: 42px;
	height: 42px;
	color: #595959;
	font-size: 14px;
	vertical-align: middle;
	*vertical-align: -5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #dadada;
	border-left-width: 0px;
	width: 278px;
}

.ui-input1 {
	float: left;
	position: relative;
	padding: 9px;
	line-height: 42px;
	height: 42px;
	color: #595959;
	font-size: 14px;
	vertical-align: middle;
	*vertical-align: -5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: none;
	border-radius: 5px;
	border: 1px solid #dadada;
	width: 315px;
}

.ui-input-normal1 {
	width: 200px;
	border-radius: 5px;
}

.ui-input-normal1 {
	width: 100px;
	border-radius: 5px;
}

.check {
	float: left;
}

.clear {
	clear: both;
}

.loginbtn {
	width: 315px;
	height: 42px;
	color: #FFF;
	background-color: #ffbb41;
	border-radius: 5px;
	font-size: 16px;
}

.close span {
	float: right;
	width: 30px;
	height: 28px;
	background-image: url(../../images/ishangimg/ico-login.png);
	background-position: -60px;
}

.box {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 9999;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	display: none;
}

.box2 {
	background-color: #FFF;
	width: 462px;
	height: 420px;
	margin: 15% auto;
	"
}

.login-ing {
	width: 105px;
	height: 39px;
	line-height: 39px;
	background-color: #e9e9e9;
	float: left;
	font-size: 16px;
	color: #000;
	text-align: center;
}

.login1 {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.login2 {
	border-left: 1px #dadada solid;
	border-right: 1px #dadada solid;
}

.login3 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.lgactive {
	background-color: #00a0e9;
	color: #FFF;
}

.login1:hover, .login2:hover, .login3:hover {
	background-color: #00a0e9;
	color: #FFF;
}

#logincont {
	display: none;
}

#logincont2 {
	display: none;
	text-align: center;
}

#logincont3 {
	display: none;
	text-align: center;
}

#areashow {
	border: 1px solid #CCC;
	margin-top: 30px;
	background-color: #FFF;
	color: #000;
	text-align: left;
	display: none;
	height: 150px;
	width: 350px;
}

#borderbm {
	border-bottom: 1px solid #CCC;
	margin: 10px;
}

#borderbm span {
	font-size: 18px;
	font-weight: bold;
	color: #00a0e9;
}

#register {
	float: left;
	position: relative;
	padding: 1px;
	opacity: 0.5;
	z-index: 4;
	opacity: 1;
}

.ui-input-normal1 {
	width: 130px;
	border-radius: 5px;
}

.verification {
	height: 42px;
	line-height: 42px;
	float: right;
	cursor: pointer;
	font-size: 16px;
	background-color: #00a0e9;
	color: #FFF;
}