@charset "utf-8";
/* CSS Document */

@media (max-width:1200px) {
.container {
width:1170px
}
}
}
/*appdown*/
html {
	min-width:1219px;
}
.top {
	height:55px;
	line-height:55px;
	width:1200px;
	margin:0 auto;
}
.top-word {
	float:right;
	font-size:20px;
	font-weight:bold;
	color:#000;
}
.top-pic {
	float:left;
	width:144px;
	height:47px;
}
.div1 {
	height:849px;
	width:100%;
}
.appbg {
	background-image:url(../../images/ishangimg/apptop.jpg);
}
@media only screen and ( max-width:1600px) {
.appbg, btn {
 zoom :0.7;
}
}
.btn {
	width:213px;
	height:64px;
	margin:0px 25px 55px;
}
.btn1a {
	background-image:url(../../images/ishangimg/hadbtn.png);
}
.btn1b {
	background-image:url(../../images/ishangimg/hipbtn.png);
}
.btn2a {
	background-image:url(../../images/ishangimg/stradbtn.png);
}
.btn2b {
	background-image:url(../../images/ishangimg/stripbtn.png);
}
.right {
	float:right;
}
.left {
	float:left;
}
.li-pic {
	width:618px;
	height:628px;
	min-height:100%;
	margin-left:320px;
}
.li-word {
	width:650px;
	height:552px;
}
/*about  news*/
#h2 {
	padding:0;
	height:135px;
}
#about-lt {
	border:1px solid #aeaeae;
	background-color:#f4f4f4;
	font-size:18px;
	text-align:center;
	padding:0;
}
#about-rt {
	border:1px solid #aeaeae;
	height:auto;
	box-shadow: -10px 0px 20px 0px rgba(128, 128, 128, 0.3);
}
.leftbtn {
	border-bottom:1px #CCC solid;
	height:60px;
	line-height:60px;
}
.leftbtn:hover {
	background-color:#009fe8;
	font-size:24px;
	color:#FFF;
}
.leftbtn-act {
	background-color:#009fe8;
	font-size:24px;
	color:#FFF;
}
.word-top {
	color:#00a0e9;
}
.word-border {
	border-bottom:2px dashed #d0d0d0;
	margin:20px 50px;
}
.word-pictb {
	border:2px solid #d0d0d0;
	margin:20px 50px;
}
.aboutus {
	margin:20px 50px;
	font-size:14px;
	min-height:350px;
	line-height:30px;
}
/*news*/
.preview {
	background:url(../../images/ishangimg/mark-left.png) no-repeat top left;
	padding-left:25px;
	line-height:24px;
}
.nextview {
	background:url(../../images/ishangimg/mark-right.png) no-repeat bottom right;
	padding-left:25px;
	height:15px;
}
.news-content {
	display:none;
}
/*manage*/
#logincont-manage {
	display:none;
	text-align:center;
}
#manage-rt {
	border:1px solid #b0b0b0;
	border-left:0px;
	height:382px;
	margin:10px 0;
}
.manage-lt {
	height:382px;
	width:252px;
	margin:10px 0;
	color:#FFF;
	text-align:left;
	padding:10px 20px;
}
#manage-lt1 {
	background-image:url(../../images/ishangimg/pay.png);
}
#manage-lt2 {
	background-image:url(../../images/ishangimg/repairs.png);
}
#manage-lt3 {
	background-image:url(../../images/ishangimg/homemaking.png);
}
#manage-lt4 {
	background-image:url(../../images/ishangimg/service.png);
}
#repairs {
	background-image:url(../../images/ishangimg/repairs-btn.png);
	color:#df756f;
	width:96px;
	height:37px;
	font-size:18px;
	font-weight:bold;
	margin-top:15px;
	border:1px solid #eb5b53;
	border-radius:5px;
}
#repairs:hover {
	background-image:url(../../images/ishangimg/repairs-hover.png);
	color:#FFF;
}
.manage-tb1 {
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:#f4f4f4;
	font-size:14px;
}
.manage-tb2 {
	height:50px;
	line-height:50px;
	text-align:center;
	border-bottom:1px solid #CCC;
}
.manage-tb3 {
	height:50px;
	line-height:50px;
	text-align:center;
	border-bottom:1px solid #999;
	margin-top:100px;
	font-size:16px;
	color:#F00;
}
.Div1_manage {
	width:10000px;
	overflow:hidden;
	position:absolute;
	z-index:1;
}
.Div1_home {
	width:10000px;
	overflow:hidden;
	position:absolute;
	z-index:1;
}
.wd150 {
	width:150px;
}
.wd350 {
	width:350px;
}
.wd167 {
	width:167px;
}
.pay-btn {
	border:2px solid #0089c8;
	background-color:#00a0e9;
	color:#FFF;
	width:130px;
	height:38px;
	border-radius:5px;
	margin-left:30px;
}
.manage-search {
	font-size:16px;
	margin-top:20px;
	text-align:center;
}
.manage-searchbtn {
	background-color:#ffc75b;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	height:38px;
	line-height:38px;
	text-align:center;
	width:100px;
}
.manage-text {
	border:2px solid #ffc75b;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	height:38px;
	margin-left:10px;
	width:270px;
	padding-left:10px;
}
.margin20-10 {
	margin:20px 10px;
}
.margin20-10 a:hover {
	color:#F00;
}
.margin10-30 {
	margin:10px 30px;
}
.margin20-30 {
	margin:20px 30px;
}
.more-color {
	color:#e79800;
}
.more-color:hover {
	color:#F00;
}
.manage23 {
	height:50px;
	line-height:50px;
	text-align:center;
	border-bottom:1px solid #ccc;
}
.manage2-tb {
	width:458.5px;
	float:left;
	border-right:1px solid #ccc;
	font-size:14px;
	font-weight:bold;
	height:50px;
}
.onmanage2-tb {
	color:#df756f;
	border-top:2px solid #df756f;
}
.manage3-tb {
	width:131px;
	border-right:1px solid #ccc;
	float:left;
	font-size:14px;
	font-weight:bold;
}
.onmanage3-tb {
	color:#8491d6;
	border-top:2px solid #727ec1;
	height:50px;
}
.margintop13 {
	margin-top:13%;
}
.marginright {
	float:left;
	left:96%;
	position:absolute;
	z-index:99;
}
.manage-ico {
	width:40px;
	height:40px;
	background-image:url(../../images/ishangimg/manage-ico.png);
	display:block;
	position:absolute;
	z-index:99;
}
.manage-icor {
	background-position:-45px 0;
}
.manage-icotel {
	background-position:95px -5px;
}
.manage-tel {
	float:left;
	margin:10px 0 0 40px;
}
.manage-icoadd {
	background-position:52px 2px;
}
.manage-address {
	float:left;
	margin:15px 0 15px 40px;
}
.manage-news {
	border:1px solid #CCC;
	margin:10px 0 0 10px;
	height:382px;
}
.manage-newstop {
	margin:30px;
	height:50px;
	line-height:50px;
	font-size:14px;
	font-weight:bold;
}
.repairs-news {
	float:left;
	width:170px;
	height:250px;
	margin:19px 0 0 47px;
	background-color:#f4f4f4;
	padding:15px;
	text-align:center;
}
.home-news {
	margin:16px 0 0 46px;
	background-color:#f4f4f4;
}
.allhome-news {
	margin:30px 60px 30px 0;
	background-color:#f4f4f4;
}
.allhome-news-last {
	margin:30px 0;
	background-color:#f4f4f4;
}

.home-newspic {
	width:245px;
	height:177px;
	background-image:url(../../images/ishangimg/homemaking-pic.png);
	position:relative;
}
.home-company {
	height:30px;
	line-height:30px;
	width: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.7;
	color:#FFF;
	position:absolute;
	bottom:0;
	padding-left:15px;
}
.color-ff5b00 {
	color:#ff5b00;
}
.servicetb {
	border-left:0px;
	float:left;
	width:311px;
}
.service-tel {
	border-bottom:1px solid #CCC;
	height:55px;
	line-height:35px;
	margin:30px;
}
.service-telico {
	background-position:-160px 0;
	float:right;
	margin-left:200px;
}
.service-name {
	height:55px;
	margin:30px;
	text-align:left;
}
.upload_main {
}
.upload_drag_area {
	display:inline-block;
	padding-top:3em;
	float:left;
	margin-left:.5em;
	background:#fff no-repeat 20px center;
	color:#999;
	text-align:center;
	vertical-align:middle;
}
.upload_drag_hover {
	border-color:#069;
	box-shadow:inset 2px 2px 4px rgba(0, 0, 0, .5);
	color:#333;
}
.upload_preview {
	background-color:#fff;
	overflow:hidden;
	_zoom:1;
}
.upload_append_list {
	height:75px;
	width:75px;
	margin:0 5px;
	float:left;
	position:relative;
}
.upload_append_list:hover {
	cursor:pointer;
}
.upload_delete {
	margin-left:2em;
}
.upload_image {
	height:75px;
	width:75px;
	padding:0px;
}
.upload_submit {
	padding-top:1em;
	padding-left:1em;
}
.upload_submit_btn {
	height:32px;
	font-size:14px;
	display:none;
}
.upload_progress {
	padding:5px;
	border-radius:10px;
	color:#fff;
	background-color:rgba(0, 0, 0, .6);
	position:absolute;
	left:25px;
	top:45px;
}
.andArea {
	background: no-repeat scroll center 5px rgba(0, 0, 0, 0);
	color: #CCCCCC;
}
.filePicker {
	background:url(../../images/ishangimg/add_img.png) repeat-x scroll 0 0;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	height: 73px;
	width: 73px;
	float:left;
	margin-left:40px;
	overflow: hidden;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}
.filePickertwo {
	background:url(../../images/ishangimg/add_img.png) repeat-x scroll 0 0;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	height: 73px;
	width: 73px;
	float:left;
	margin-left:40px;
	overflow: hidden;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}
.upload_btn {
	background: none repeat scroll 0 0 #188AED;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin-left: 10px;
	padding: 0 5px;
	position: relative;
	text-align: center;
	line-height: 24px;
	transition: background 0.2s;
	-moz-transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-o-transition: background 0.2s;
}
.upload_btn:hover {
	background: none repeat scroll 0 0 #06C;
}
.mg-btnbg1{
	float:left; 
	background-color:#ffbb41;
	height:42px; 
	line-height:42px; 
	width:150px; 
	border-radius:5px; 
	margin:10px 70px 0 40px;
	color:#FFF; 
	font-size:14px;
	}
.mg-btnbg2{
	float:left;
	height:42px; 
	line-height:42px; 
	width:150px;
	background-color:#c4c9cc; 
	border-radius:5px; 
	margin:10px;
	color:#FFF; 
	font-size:14px;
	}
	.goodstop-item {
	width:110px;
	height:30px;
	line-height:30px;
	background-color:#00a0e9;
	margin:10px 10px 0 0;
	color:#FFF;
	float:left;
}
.delete-pic {
	width:13px;
	height:13px;
	display:block;
	background-image:url(../../images/ishangimg/delete_white.png);
	margin:8px 10px 0 0;
	cursor:pointer;
}
.delete-pic:hover {
	background-image:url(../../images/ishangimg/delete_blue.png);
	margin:8px 10px 0 0;
}	
/* 每个图片上的操作bar */
.file_bar {
	margin: 0;
	left: 0px;
	right: 0px;
	position: absolute;
	top: 0px;
	height:0px;
	padding:0px;
	margin: 0;
	opacity: 0.8;
	color:#fff;
	background: none repeat scroll 0 0 #A8A8A8;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	overflow: hidden;
	height:25px;
	cursor:pointer;
}
.file_bar a {
	color: #FFFFFF;
	position: absolute;
	right: 10px;
}
/*.file_hover{
	height:30px;
	cursor:pointer;
}*/
.uploadImg {
	margin:0px;/* max-height:135px; */
}
.file_progress {
	display: none;
	margin: 0;
	position: absolute;
	bottom:0px;
	height:8px;
	left:0px;
	right:0px;
	background: none repeat scroll 0 0 #00B7EE;
	text-align:center;
	width: 0%;
}
.file_failure {
	display: none;
	margin: 0;
	position: absolute;
	bottom:0px;
	height:24px;
	left:0px;
	right:0px;
	background: none repeat scroll 0 0 red;
	color:#fff;
	text-align:center;
}
.file_name {
	margin:0px;
	white-space: nowrap;
	width: 66%;                  /* IE6 需要定义宽度 */
	overflow: hidden;
	-o-text-overflow: ellipsis;    /* Opera */
	text-overflow:    ellipsis;    /* IE, Safari (WebKit) */
	float: left;
}
.file_del {
	background: url("../../images/ishangimg/delete_white.png") no-repeat scroll 0 0 transparent;
	width:18px;
	height:18px;
	display: inline;
	-moz-user-select: none;
	position: absolute;
	right:3px;
	margin-top:4px;
}
.file_del:hover {
	background: url("../../images/ishangimg/delete_blue.png") no-repeat scroll 0 0 transparent;
}
.height130 {
	height:130px;
	line-height:130px;
}
.repairs-pic {
	width:90px;
	height:90px;
	margin:0 38px;
}
.repairs-reply {
	width:100%;
	height:50px;
	line-height:50px;
	background-color:#edf7ff;
	text-align:left;
	padding-left:38px;
}

/*progress*/
.Div1 {
	height:auto;
	overflow:hidden;
	position:relative;
}
.Div1_main {
	width:10000px;
	overflow:hidden;
	position:absolute;
	height:350px;
	z-index:1;
}
.Div1_main div {
	float:left;
}
.progress-pic {
	width:176px;
	height:28px;
	float:left;
	background-image:url(../../images/ishangimg/progress.png);
}
.progress-pic2 {
	background-position:-181px -60px;
}
.progress-pic2on {
	background-position:-181px -32px;
}
.progress-pic3 {
	background-position:-362px -60px;
}
.progress-pic3on {
	background-position:-362px -32px;
}
.progress-pic4 {
	background-position:287px -60px;
}
.progress-pic4on {
	background-position:287px -32px;
}
.progress-pic5 {
	width:101px;
	background-position:106px -60px;
}
.topcart-font {
	font-size:16px;
	margin-top:20px;
	color:#00a0e9;
	font-weight:bold;
}
.topcart-word {
	width:176px;
	height:28px;
	float:left;
	text-align:center;
}
.topcart-word1 {
	width:101px;
	height:28px;
	float:left;
	text-align:right;
}
.topcart-bg {
	background-color:#f4f4f4;
	height:50px;
	margin-top:20px;
	font-size:14px;
	line-height:50px;
}
.footcart-bg {
	float:left;
	padding-right:0;
}
.cart-ico {
	width:28px;
	height:28px;
	background-image:url(../../images/ishangimg/ico-login.png);
	display:block;
	float:left;
	margin:10px 12px 0 0;
	background-position:-30px 0;
}
.cart-ico-input {
	background-position:-30px 0;
}
.cart-word-width {
	width:200px;
	margin:20px;
}
.cart-ico-dele {
	background-position:105px 0;
	margin:10px 0 0 20px;
}
.cart-ico-col {
	background-position:70px 0;
	margin:10px 0 0 20px;
}
.cart-ico-s {
	background-position:32px 0;
	display:block;
	float:left;
	margin:10px 0 0 20px;
}
.reduce {
	width:30px;
	height:30px;
	line-height:25px;
	border:1px solid #CCC;
	color:#CCC;
	border-radius:5px;
	margin:20px 2px 0 110px;
	text-align:center;
	font-size:24px;
}
.number {
	width:80px;
	margin:20px 2px;
	font-size:14px;
}
.increat {
	border:1px solid #39c7e1;
	color:#39c7e1;
	margin:20px 2px;
}
.through-price {
	text-decoration:line-through;
	color:#999;
}
.new-price {
	color:#F00;
	font-size:16px;
}

.store-name1 {
	height:50px;
	font-size:14px;
	line-height:50px;
}
.margin-pic {
	margin:20px 0 20px;
}
.marginr30 {
	margin-right:30px;
}
.marginl30 {
	margin-left:30px;
}
.marginr20 {
	margin-right:20px;
}
.marginl20 {
	margin-left:20px;
}
.margin100 {
	margin-left:100px;
}
.margin400 {
	margin-left:400px;
}
.margin150 {
	margin-left:150px;
}
.margin230 {
	margin-left:230px;
}
.border-ccc {
	border:1px solid #CCC;
}
.borderbt-ccc {
	border-bottom:1px solid #CCC;
}
.margin50 {
	margin:50px 32px 0 0;
}
.margin20 {
	margin:20px 0 0 190px;
}
.margin20-60 {
	margin:20px 0 0 60px;
}
.margin20-90 {
	margin:20px 0 0 90px;
}
.margin20-150 {
	margin:20px 0 0 150px;
}
.margin20-107 {
	margin:20px 0 0 107px;
}
.red-word {
	color:#F00;
	font-size:16px;
}
.red-word12 {
	color:#F00;
	font-size:12px;
}
.red-word14 {
	color:#ef3d4a;
	font-size:14px;
}
.cart-footbtn {
	height:49px;
	line-height:49px;
	width:150px;
	background-color:#ffb932;
	color:#FFF;
	font-size:16px;
}
.word60 {
	width:250px;
	height:30px;
	line-height:30px;
	border:1px solid #ccc;
	padding-left:10px;
	border-radius:5px;
	margin-left:10px;
}
.cart00-bt {
	border:1px solid #ccc;
	height:50px;
	line-height:50px;
	padding:0;
}
.cart00-price {
	font-size:16px;
	text-align:right;
	border:0;
}
.store-paybtn {
	border-radius:5px;
	background-color:#f5f5f5;
	border:1px solid #dddddd;
	height:45px;
	line-height:45px;
	width:250px;
	margin:20px 10px;
	font-size:14px;
}
.sure-paybtn {
	border-radius:5px;
	background-color:#ffbb41;
	border:1px solid #dddddd;
	height:45px;
	line-height:45px;
	width:150px;
	color:#FFF;
	margin-top:75px;
	margin-right:-15px;
	font-size:18px;
}
.left-word {
	text-align:left;
	font-size:16px;
	margin-top:20px;
}
.left-word03 {
	height:70px;
	line-height:70px;
	background-color:#ffecd7;
	text-align:left;
	font-size:16px;
	margin-top:20px;
}
.right-word {
	text-align:right;
	font-size:16px;
	margin-top:20px;
}
.pay-border {
	border:1px solid #ccc;
	font-size:16px;
	margin:20px 0;
	padding:20px 0;
}
.pay-border li {
	height:90px;
	line-height:90px;
	border-radius:5px;
	margin:10px;
	cursor:pointer;
	overflow:hidden;
}
.downlist-ico {
	color:#00a0e9;
	margin-left:25px;
	font-size:12px;
	padding-right:15px;
	background:url(../../images/ishangimg/downlist-ico.png) no-repeat center right;
	cursor:pointer;
}
.on-paytype {
	border:2px solid #00a0e9;
}
.cart-ico-inputon {
	background-position:0;
}
.paytype-ico {
	width:92px;
	height:60px;
	background-image:url(../../images/ishangimg/pay-ico.png);
	float:left;
	margin:13px 20px;
	display:block;
}
.paytype-icod {
	background-position: -358px 0;
}
.paytype-icoy {
	background-position: -239px 0;
}
.paytype-icoh {
	background-position: -119px 0;
}
.paytype-icoy-type {
	width:118px;
	background-position:119px 0;
}
.pay-money {
	display:none;
}
.pay-margin {
	margin:31px 10px 0 20px;
}
.cart-goodsitem {
	height:74px;
	line-height:74px;
	width:15%;
	text-align:center;
}
.cart-goodspic {
	width:60px;
	height:60px;
	float:left;
	margin-top:7px;
}
.cartbtm-word {
	width:35%;
	height:20px;
	line-height:20px;
}
.cart-nextbtn {
	margin:15px;
	width:120px;
	height:40px;
	line-height:40px;
	font-size:16px;
	border-radius:5px;
	background-color:#ffbb41;
	border:1px solid #dddddd;
	color:#FFF;
}
/*commodity*/
.nav-tree {
	font-size:18px;
	margin:10px 0;
	padding:0;
}
.comodity-bord1 {
	border:1px solid #ccc;
}
.pic-big {
	width:346px;
	height:346px;
	margin:10px;
	background-image:url(../../images/ishangimg/goods-item.jpg);
}
.on-goods {
	border:2px solid #ff8f00;
}
.data {
	width:25%;
	background-color:#ececec;
	border-bottom:1px solid #ccc;
	float:left;
	border-right:1px solid #ccc;
	text-align:center;
}
.on-data {
	background-color:#0097dc;
	color:#FFF;
}
#record, #introduce {
	height:50px;
	line-height:50px;
	font-size:14px;
}
.goods00 {
	float:left;
	width:70px;
	height:70px;
	margin:11px;
}
.margin5 {
	margin-top:5px;
}
.graybg {
	height:50px;
	line-height:50px;
	background-color:#f7f7f7;
	margin:20px 0;
	width:140%;
}
.width208 {
	width:208px;
}
.store-logo {
	border-bottom:1px solid #eeeeee;
	border-top:1px solid #eeeeee;
	margin-top:10px;
}
.store-name {
	color:#00a0e9;
	height:30px;
	line-height:30px;
}
.store-evaluate {
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.evaluate-ico1 {
	background:url(../../images/ishangimg/grade-ico.png) no-repeat 0 0;
	float:left;
	display:block;
	width:92px;
	height:22px;
	position:relative;
	margin-top:5px;
}
.evaluate-ico2 {
	background-position:-5px -24px;
	position:absolute;
	margin-top:0;
}
.star-ico1 {
	background:url(../../images/ishangimg/star-ico.png) no-repeat 0 0;
	float:left;
	display:block;
	width:100px;
	height:15px;
	position:relative;
}
.star-ico2 {
	background-position:-1px -14px;
	position:absolute;
	margin-top:0;
}
.goodsevaluate-ico {
	background:url(../../images/ishangimg/goodsevaluate-ico.png) no-repeat 0 -35px;
	float:left;
	display:block;
	width:450px;
	height:20px;
	position:relative;
}
.store-btn {
	border-radius:5px;
	background-color:#f5f5f5;
	border:1px solid #dddddd;
	height:25px;
	width:80px;
	margin:20px 10px;
}
.left-goods {
	border:1px solid #ccc;
	margin:10px -10px 0 -15px;
}
.left-goodstop {
	height:50px;
	line-height:50px;
	background-color:#ececec;
	border-bottom:1px solid #ccc;
	font-size:14px;
}
.left-goodspic {
	text-align:center;
	border-bottom:1px solid #eeeeee;
}
.left-goodsword {
	margin:0 25px;
	text-align:left;
}
.right-introduce {
	border:1px solid #ccc;
	margin:10px -15px 0 -10px;
}
.right-introducecenter {
	border:1px solid #ccc;
	margin:0 -15px 0 -10px;
}
.width25 {
	width:25%;
}
.more-para {
	display:none;
}
#more-parameter {
	text-align:right;
	color:#0097dc;
}
.onitem-pic {
	border:2px solid #ff8f00;
}
.item-picbig {
	width:346px;
	height:346px;
	margin:5px;
	background-image:url(../../images/ishangimg/goods-item.jpg);
	display:none;
	margin-top:75px;
}
.viewphoto img {
	cursor:url(../../images/ishangimg/zoom-in.png), url(../../images/ishangimg/zoom_in.cur), auto
}
.item-picbig {
	cursor:url(../../images/ishangimg/zoom-out.png), url(../../images/ishangimg/zoom_out.cur), auto
}
.left-grade {
	height:100px;
	line-height:100px;
	color:#ff8f00;
	float:left;
	font-size:40px;
	margin-left:10px;
}
.left-sgrade {
	font-size:20px;
	margin:5px;
}
.goodsevaluate-up {
	position:absolute;
	width:96%;
	height:22px;
	top:-25px;
}
.goodsevaluate-word {
	background-position:-6px -55px;
	width:26px;
	height:22px;
	line-height:18px;
	text-align:center;
	float:right;
	color:#FFF;
}
.center-grade {
	margin-left:-40px;
	text-align:center;
	width:490px;
}
.right-grade {
	line-height:20px;
	float:left;
	margin-top:25px;
}
.width20 {
	width:20%;
}
.width15 {
	width:15%;
}
.width70 {
	width:70px;
	font-weight:normal;
}
.color-gray {
	color:#9c9c9c;
	font-size:12px;
}
.grade-dd {
	height:10px;
	width:100px;
	background-color:#efefef;
	display:block;
	float:left;
	margin:5px 10px;
}
.grade-ddone {
	width:85%;
	height:10px;
	background-color:#ff9a19;
	display:block;
}
.grade-ddtwo {
	width:10%;
	height:10px;
	background-color:#fab153;
	display:block;
}
.grade-ddthree {
	width:5%;
	height:10px;
	background-color:#ffe2bc;
	display:block;
}
.all-introduce li, .good li, .common li, .bad li {
	border-bottom:1px solid #ccc;
	text-align:center;
}
.viewphoto {
	width:50px;
	height:50px;
	float:left;
	margin:5px;
}
.user-pic {
	width:55px;
	height:55px;
	border:2px solid #ccc;
	border-radius:5px;
	text-align:center;
}
.padding20-10 {
	padding-top:20px;
	padding-bottom:10px;
}
.margin8-30 {
	margin:8px 30px 0;
}
.margin-b {
	margin-bottom:10px;
	overflow:hidden;
}
.b-sgrade {
	color:#ff8f00;
	margin-left:10px;
}
.commodity-data {
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:14px;
	background-color:#fbfbfb;
}
.commodity-dataitem {
	width:25%;
	float:left;
}
.commodity-data li, #commodity-fourth li {
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}
.goodsitem-name {
	margin:22px 20px;
	font-size:14px;
	font-weight:bold;
}
/*business*/
.business01 {
	background-image:url(../../images/ishangimg/business01.png);
}
.business02 {
	background-image:url(../../images/ishangimg/business02.png);
}
.business03 {
	background-image:url(../../images/ishangimg/business03.png);
}
.goodsitem-name02 {
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.top-classify {
	width:252px;
	height:317px;
	background-color:#00a7f3;
	box-shadow: 3px 0px 4px rgba(128, 128, 128, 0.5);
	z-index:99;
	position:relative;
	color:#FFF;
}
.classify-bt {
	border-bottom:1px solid #008fd0;
}
.classify-top {
	border-top:1px solid #35c0ff;
}
.classify-item {
	width:60px;
	color:#FFF;
	margin:15px;
}
.classify-item:hover{
	color:#008fd0;
	cursor:pointer;
}
.classify-pic {
	width:288px;
	height:194px;
	color:#FFF;
	margin-right:6px;
	margin-top:15px;
}
.classifycou-pic01 {
	height:146px;
	padding:0 20px;
	background-image:url(../../images/ishangimg/coupon01.png);
}
.classifycou-pic02 {
	height:146px;
	padding:0 20px;
	background-image:url(../../images/ishangimg/coupon02.png);
}
.classifycou-pic03 {
	height:146px;
	padding:0 20px;
	background-image:url(../../images/ishangimg/coupon03.png);
}
.classifycou-pic04 {
	height:146px;
	margin-right:0px;
	padding:0 20px;
	background-image:url(../../images/ishangimg/coupon04.png);
}
.boder-rightccc {
	border-right:1px solid #ccc;
}
.w229-h50 {
	width:229px;
	height:50%;
}
.w229-h50 img {
	margin:5px;
	border:0;
}
.classify-3fone {
	width:130px;
	height:180px;
	margin-top:5px;
}
.bannerBut li {
	width:7px;
	height:7px;
	border-radius:7px;
	background:#BBB9B9;
	margin:5px 7px;
	float:left;
}
.bannerBut li.hover {
	background:#fff;
	cursor:pointer;
}
.getdiscount-btn {
	width:248px;
	background-color:#FFF;
	height:30px;
	line-height:30px;
	font-size:20px;
	text-align:center;
	border-radius:3px;
}
.getdiscount-btn01 {
	color:#fdb717;
}
.getdiscount-btn02 {
	color:#ff6632;
}
.getdiscount-btn03 {
	color:#40b950;
}
.getdiscount-btn04 {
	color:#23adde;
}
.getdiscount-btn:hover {
	background-color:#ececec;
	color:#FFF;
	cursor:pointer;
}
.font-size24 {
	font-size:24px;
}
.height100 {
	margin-top:-10px;
	height:100px;
}
.store-topname {
	position:absolute;
	top:165px;
	margin:0 auto;
}
.store-toppic {
	width:120px;
	height:50px;
}
.store-topword {
	height:50px;
	line-height:50px;
	font-size:20px;
	font-weight:bold;
	margin:0 15px 0 5px;
}
.symbol-price {
	font-size:38px;
	font-weight:bold;
}
.store-price {
	font-size:76px;
	font-family:'Impact';
}
.store-grayname {
	margin:22px 20px;
}
.w215-h260 {
	border:1px solid #ccc;
	width:215px;
	height:260px;
}
.w213-h160 {
	width:213px;
	height:160px;
}
.margint20 {
	margin-top:20px;
}
.marginl10 {
	margin-left:10px;
}
.storerow {
	margin:10px -15px 0 -10px;
}
.searchl-side {
	width:5%;
	height:30px;
	line-height:30px;
	padding:10px 0;
}
.searchr-side {
	width:10%;
	height:30px;
	line-height:30px;
	text-align:right;
}
.search-center {
	width:95%;
	line-height:30px;
	color:#0080bb;
	text-align:left;
	padding:10px;
	border-bottom:1px dashed #ccc;
}
.searchrow-all {
	font-size:14px;
	margin:10px 30px;
}
.second-navword{
	font-size:16px;
	padding:0;
}
/*personal01*/
.persaonal-ico{width:34px; height:34px; display:block; float:left; margin:8px 15px; background-image:url(../../images/ishangimg/persaonal-ico.png);}
.personal-all{background-position:-12px 35px;}
.personal-all02{background-position:-12px 0;}
.personal01{background-position:-56px 0;}
.personal02{background-position:-99px 0;}
.personal03{background-position:-143px 0;}
.personal04{background-position:-185px 0;}
.personal05{background-position:-228px 0;}
.personal06{background-position:-271px 0;}
.personal07{background-position:-315px 0;}
.personal08{background-position:-355px 0;}
.personal01-on{background-position:-56px 35px;}
.personal02-on{background-position:-99px 35px;}
.personal03-on{background-position:-143px 35px;}
.personal04-on{background-position:-185px 35px;}
.personal05-on{background-position:-228px 35px;}
.personal06-on{background-position:-271px 35px;}
.personal07-on{background-position:-315px 35px;}
.personal08-on{background-position:-355px 35px;}
.personal-itemb{height:50px; line-height:50px; font-size:16px; font-weight:bold;}
.personal-items{height:30px; line-height:30px; font-size:14px;margin-left:64px;}
.personal-left{width:15%; background-color:#fafafa; border:1px solid #ccc; margin-top:15px; padding:0; padding-bottom:20px;}
.personal-center{width:56%;  margin:15px; padding:0; padding-bottom:20px;}
.personal-right{width:26%;  padding:0; padding-bottom:20px;}
.onpersonal-itemb{background-color:#00a0e9; color:#FFF;}
.pcenter-top{border:1px solid #ccc; background-color:#edf7ff; height:105px;}
.pcenter-topmargin1{margin:15px 0 2px 15px;}
.pcenter-topmargin2{margin:75px 20px 0 0;}
.pcenter-border{border:1px solid #ccc; margin-top:15px;}
.pcenter-word1{height:50px; line-height:50px; font-size:14px; font-weight:bold; background-color:#e2ebd1; padding-left:30px; border-bottom:1px solid #ccc;}
.pcenter-word2{height:50px; line-height:50px; font-size:14px; font-weight:bold; background-color:#ffd8b5; padding-left:10px; border-bottom:1px solid #ccc;}
.pcenter-word3{height:50px; line-height:50px; font-size:14px; font-weight:bold; background-color:#ffd9e2; padding-left:10px; border-bottom:1px solid #ccc;}
.addcart-btn{background-color:#F00; color:#FFF; margin-top:10px; width:139px;height:25px;}
.rwidth139{float:left;width:139px;}
.personal-rightico{width:50px; height:50px;background-image:url(../../images/ishangimg/personal-right.png); display:block;}
.personal-rightico2{background-position:-50px 0px;}
.personal-rightico3{background-position:-100px 0px;}
.personal-rightico4{background-position:-150px 0px;}
.personal-rightico5{background-position:-200px 0px;}
.personal-rightico6{background-position:-250px 0px;}
.personal-rightico7{background-position:-300px 0px;}
.personal-rightico8{background-position:-350px 0px;}
.personal-rightico9{background-position:-400px 0px;}
.personal-rightico10{background-position:-450px 0px;}
.personal-rightico11{background-position:-500px 0px;}
.personal-rightico12{background-position:-550px 0px;}
.personal-rightico13{background-position:-600px 0px;}
.padding20-25{padding-left:25px; padding-top:20px;}
.pright-ico{border-bottom:1px solid #ccc; width:100.5px; height:100px; text-align:center; float:left;}
.pright-bottompic{width:131px; height:103px; margin:15px 10px; border:1px solid #eaeaea; float:left;}
.personal-rightico:hover{background-position-y:50px; cursor:pointer;}
/*02*/
.marginl75{margin-left:75px;}
.marginl175{margin-left:175px;}
.margin25-20{margin:25px 20px 0 0;}
.margin15-0{margin:15px 0;}
.p02name{width:160px; margin:30px 10px; text-align:left;}
.p02price{margin:35px 0 0 35px; width:100px;color:#999;}
.p02number{margin-top:35px;width:50px; margin-left:55px;}
.p02redprice{margin-top:35px;margin-left:40px;width:100px;}
.p02handle{margin-top:27px;margin-left:19px;width:100px;}
.personal09{background-position:-405px -5px; width:25px; height:22px; margin:0 10px;float:right;}
.history-boder{margin:15px 0 0 15px; border-left:3px solid #00a0e9; padding:0;}
.history-btn{width:150px; border-top-right-radius:25px; border-bottom-right-radius:25px;height:38px;line-height:38px;font-size:16px;text-align:center; color:#FFF;}
.history-btntop{background-color:#00a0e9;}
.history-btnlist01{margin-top:30px; background-color:#1cb8ff;}
.history-listitem{width:170px; height:215px; border:1px solid #ccc; margin:12px;}
.history-listitempic{margin:5px; background-image:url(../../images/ishangimg/pclose.png); width:13px; height:13px; display:block; cursor:pointer; float:right;}
.history-listitempic:hover{background-image:url(../../images/ishangimg/pclose-hover.png);}
.marginall5{margin:5px;}
.personal-itemb:hover{background-color:#d4d4d4}
.personal-items:hover{color:#00a0e9; text-decoration:underline;}
.collect-top{height:50px; line-height:50px; padding-left:15px; border:1px solid #ccc; background-color:#edf7ff; font-size:15px; font-weight:bold;}
.personal10{background-position:-488px 3px;}
.personal11{background-position:-488px -31px;}
.attention-top{height:50px; line-height:50px; padding-left:15px; background-color:#edf7ff; font-size:15px; font-weight:bold;}
.p06message{height:50px; line-height:50px; margin:0 15px;}
.pdiscount-btn{height:50px; line-height:50px; width:325px; border:1px solid #ccc; float:left; text-align:center; font-size:14px; background-color:#f4f4f4;}
.pdiscount-btnon{color:#FFF; background-color:#0093d6;}
.pdiscount-btn:hover{color:#FFF; background-color:#0093d6;}
.pdiscount-width{width:315px; margin:15px 5px; float:left;}
.p07delete{width:100px; height:50px; line-height:50px;border-radius:5px; margin-top:-15px;}
.classifycou-pic05{height:146px;padding:0 20px;background-image:url(../../images/ishangimg/coupon05.png);}
.classifycou-pic06{height:146px;padding:0 20px;background-image:url(../../images/ishangimg/coupon06.png);}
.redstart{height:30px; line-height:30px; color:#F00; font-size:14px; font-weight:bold; margin:5px;}
.marginl15{margin-left:15px;}
.areadownlist{margin-left:20px;height:30px; line-height:30px; width:70px;}
.margint10{margin-top:10px;}
.p08input{width:250px;height:30px; line-height:30px;margin-left:15px; margin-bottom:10px;}
.p08-upbtn{width:200px; height:40px; line-height:30px; font-size:16px;border:1px solid #ffa94f; color:#ffa94f;border-radius:5px; background-color:#FFF;}
.margint30{margin-top:30px;}
.margint50{margin-top:50px;}
.marginl50{margin-left:50px;}
.smalllistpic{width:50px; height:50px; float:left; margin-right:10px;}
.pic80{width:80px; height:80px; float:left;}
.pic50{width:50px; height:50px; float:left;}
.p09inputbtn01{width:130px; height:30px; line-height:25px; background-color:#f5f5f5; border:1px solid #ccc; margin-left:20px;}
.p09inputbtn02{width:80px; height:30px; line-height:25px; background-color:#fff; border:1px solid #ccc; margin-left:20px;}
.p09-submitbtn{width:120px; height:35px; line-height:30px; background-color:#00a0e9; border-radius:5px; margin:30px 140px 40px; color:#FFF; font-size:16px;}
.password-savebtn{width:120px; height:35px; line-height:30px; background-color:#ffa94f; border-radius:5px; margin:30px 140px 40px; color:#FFF; font-size:16px;}
.succeedpic{width:50px; height:50px;background-image:url(../../images/ishangimg/deyes-ico.png); background-position:50px 0; margin:50px 10px 50px 130px; float:left;}
.box-register{
	float: left;
	position: relative;
	padding: 1px;
	opacity: 0.5;
	z-index: 4;
	opacity: 1;
	}
.box-manage{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 9999;
	position: fixed;
	background: rgba(0, 0, 0, 0.35);
	opacity: 1;
	display:none;
	}
.box2-manage{
	background-color:#FFF;
	width:480px;
	height:570px;
	margin: 10% auto;
}
.box2-drafts{
	background-color:#FFF;
	width:462px;
	height:400px;
	margin: 15% auto;
	-moz-box-shadow: 10px 10px 5px #868585; /* 老的 Firefox */
    box-shadow: 10px 10px 5px #868585;
}
.box-complain{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 9999;
	position: fixed;
	background: rgba(0, 0, 0, 0.35);
	opacity: 1;
	display:none;
	}
.box2-complain{
	background-color:#FFF;
	width:462px;
	height:520px;
	margin: 10% auto;
}
@media only screen and ( max-width:1900px) {
	.box2-manage,.box2-complain,.box2-drafts {
		zoom: 0.8;
	}
}
.progress-pic03 {
	width:176px;
	height:28px;
	float:left;
	background-image:url(../../images/ishangimg/progress03.png);
}
.progress-pic03on {
	background-position:0 -28px;
}

/*news*/
.addlist{margin:15px 0 0 15px;}
.addlist li{margin-bottom:15px;}
.addlist li i{text-align:right; margin:15px 15px 0 0;}
.addlist li p{margin-left:50px;}

/*store01*/
.store-header{background-color:#00a0e9; height:100px;}
.store-headerpic{padding:0; width:170px; height:55px;margin-top:20px;}
.store-headerright{padding:0; margin-top:30px;float:right;}
.storeico01{background-position:-529px 0;}
.storeico02{background-position:-574px 0;}
.storeico03{background-position:-617px 0;}
.storeico04{background-position:-660px 0;}
.storeico05{background-position:-702px 0;}
.storeico06{background-position:-746px 0;}
.storeico07{background-position:-788px 0;}
.storeico01-on{background-position:-529px 35px;}
.storeico02-on{background-position:-574px 35px;}
.storeico03-on{background-position:-617px 35px;}
.storeico04-on{background-position:-660px 35px;}
.storeico05-on{background-position:-702px 35px;}
.storeico06-on{background-position:-746px 35px;}
.storeico07-on{background-position:-788px 35px;}
.store-news{margin-top:10px;}
.store-news li p:first-child{margin-left:10px; text-align:left;}
.store-news li p{margin-right:10px; text-align:right;}
.store-goodsitems p{float:left; margin-top:30px;}
.store-mygoodsitems p{float:left; margin-top:40px;}
.store-mygoodsitems{text-align:center;margin-top:10px; border:1px solid #ccc;}
.store-mygoodsitems div{margin:15px 10px 0 10px; width:160px; text-align:left; float:left;}
textarea:focus{outline:none;}
.firstword{margin:0 15px 0 15px; height:30px; line-height:30px; float:left;}
.secondword{width:30px; height:30px; line-height:30px; float:left; text-align:center; border-left:0; background-color:#f0f0f0; border:1px solid #ccc;}
.begintime{width:150px; height:30px; line-height:30px; float:left; margin-left:15px; padding-left:10px; border:1px solid #ccc;}
.endtime{width:150px; height:30px; line-height:30px; padding-left:10px; float:left;border:1px solid #ccc;}
.input60{width:60px; height:30px; line-height:30px; float:left;}
.whiteblock{width:295px; height:70px; line-height:70px; margin-left:20px; background-color:#FFF; float:left; font-size:14px; margin-top:15px;}
.whiteblock span:first-child{color:#ff6c00; font-size:28px; margin:0 5px 0 20px; float:left;}
.bigpinkblock{width:390px; height:80px; float:left; font-size:14px; margin:10px; margin-left:15px;background:url(../../images/ishangimg/store-circle.png) no-repeat #fff3e9 320px;}
.sellnumber{height:20px; line-height:20px; margin-top:20px;}
.sellnumber span:first-child{color:#ff6c00; font-size:28px; margin:0 5px 0 20px; float:left;}
.block230{width:230px; height:80px; background-color:#fff3d8; float:left; font-size:14px; margin:10px;}
.block230 span:first-child{color:#ff6c00; font-size:28px; margin:0 5px 0 20px; float:left;}
.block285{width:285px; height:80px; background-color:#e0f7ff; float:left; font-size:14px; margin:10px;}
.block185{width:185px; height:80px; background-color:#ffeedf; float:left; font-size:14px; margin:10px;}
.sreplybtn{text-align:right; color:#00a0e9; cursor:pointer;}
.sreplytext{width:164px; height:174px; background-image:url(../../images/ishangimg/replytext.png); margin-right:30px; position:absolute; z-index:9; right:0; display:none;}
.topcart-bg span{float:left;}
.colsblueword{width:110px;color:#00a0e9; margin-top:28px; line-height:20px;}
.topbluebtn{width:75px; height:30px; line-height:30px; border-radius:5px; background-color:#00a0e9; color:#FFF; margin:10px 10px; padding-left:10px;}
.reimburseitems p{float:left; margin:20px 0;}
ul{padding:0; margin:0; list-style:none;}
th{text-align:center;}
tbody input{padding-left:0;}
#calendarPanel input{padding-left:0;} 

/*property*/
.boxitem{width:223px; height:223px; margin:15px 8px; float:left;}
.boxitem p:first-child{font-size:36px; width:128px; text-align:right; margin-right:5px; float:left;}
.boxitem span{float:left; margin-top:25px; font-size:14px; color:#000;}
.property-ico{width:34px; height:34px; display:block; float:left; margin:8px 15px; background-image:url(../../images/ishangimg/property-navico.png);}
.propertyico01{background-position:-34px 0;}
.propertyico02{background-position:-68px 0;}
.propertyico03{background-position:-102px 0;}
.propertyico04{background-position:-136px 0;}
.propertyico05{background-position:-170px 0;}
.propertyico06{background-position:-204px 0;}
.propertyico-on{background-position:0 34px;}
.propertyico01-on{background-position:-34px 34px;}
.propertyico02-on{background-position:-68px 34px;}
.propertyico03-on{background-position:-102px 34px;}
.propertyico04-on{background-position:-136px 34px;}
.propertyico05-on{background-position:-170px 34px;}
.propertyico06-on{background-position:-204px 34px;}
.property-repairslist{text-align:center; margin-top:10px; border:1px solid #ccc;}
.property-repairslist p{float:left; margin-top:40px;}
.property-pic {
	width:176px;
	height:28px;
	float:left;
	background-image:url(../../images/ishangimg/property02.png);
}
.property-pic02on {
	background-position:0 -28px;
}
/*complain  2015-08-05*/
.complain{width:54px; height:100px; position:fixed; z-index:1; top:50%; margin-left:1170px; text-align:center; border:2px solid #ccc;}
.notice-title{padding-right:15px;background-color:#fff; cursor:pointer;height: 50px; line-height: 50px;font-size: 14px;}
.notice-title:hover{background-color:#f4f4f4;}
textarea,select{border:1px solid #ccc;}
.goods-items02{position:absolute;left:252px; top:44px; background-color:#fff; width:220px; padding-top:43px;padding-bottom:30px; color:#000; text-align:center; display:none;}
.classify-top p,.classify-bt p{margin:10px;font-size:16px;}
.goods-items01{margin-bottom:12px;}
.goods-items01 a{width:60px; color:#FFF; margin:15px;}
.goods-items02 a{width:80px; margin:0 15px; float:left;}
