<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizAppMapper">
	<resultMap type="BizApp" id="bizAppMap">
		<id column="id_key" property="idKey" />
		<result column="name" property="name" />
		<result column="app_version" property="appVersion" />
		<result column="download_url" property="downloadUrl" />
		<result column="maker_id" property="makerId" />
		<result column="maker_dt" property="makerDt" />
		<result column="audit_id" property="auditId" />
		<result column="audit_dt" property="auditDt" />
		<result column="publish_id" property="publishId" />
		<result column="publish_dt" property="publishDt" />
		<result column="app_status" property="appStatus" />
		<result column="improvement" property="improvement" />
		<result column="type" property="type" />
	</resultMap>

	<resultMap type="BizAppVO" id="bizAppList">
		<id column="id_key" property="idKey" />
		<result column="name" property="name" />
		<result column="app_version" property="appVersion" />
		<result column="download_url" property="downloadUrl" />
		<result column="maker_id" property="makerId" />
		<result column="maker_dt" property="makerDt" />
		<result column="audit_id" property="auditId" />
		<result column="audit_dt" property="auditDt" />
		<result column="publish_id" property="publishId" />
		<result column="publish_dt" property="publishDt" />
		<result column="app_status" property="appStatus" />
		<result column="improvement" property="improvement" />
		<result column="type" property="type" />

		<result column="maker_nm" property="makerNm" />
		<result column="audit_nm" property="auditNm" />
		<result column="publish_nm" property="publishNm" />
		<result column="status_nm" property="appStatusNm" />
		<result column="type_name" property="typeName" />
	</resultMap>

	<!-- 更新状态 -->
	<update id="updateStatus" parameterType="java.util.Map">
		update biz_app
		<set>
			<if test="oper == 'audit'">
				audit_id = #{auditId}, audit_dt = #{auditDt}, app_status = #{appStatus}
			</if>
			<if test="oper == 'publish'">
				publish_id = #{publishId}, publish_dt = #{publishDt}, app_status =
				#{appStatus}
			</if>
		</set>
		where id_key = #{idKey}
	</update>

	<update id="update" parameterType="BizApp">
		update biz_app
		<set>
			app_version = #{appVersion},
			download_url = #{downloadUrl},
			maker_id = #{makerId},
			maker_dt = #{makerDt},
			audit_id = #{auditId},
			audit_dt = #{auditDt},
			publish_id = #{publishId},
			publish_dt = #{publishDt},
			app_status = #{appStatus},
			type=#{type},
			improvement=#{improvement},
			name=#{name}
		</set>
		where id_key = #{idKey}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_app where
		id_key = #{idKey}
	</delete>

	<insert id="insert" parameterType="BizApp" useGeneratedKeys="true"
		keyProperty="idKey">
		insert into biz_app
		(id_key, app_version, download_url, maker_id, maker_dt,
		app_status,improvement,type,name)
		values
		(#{idKey},#{appVersion},#{downloadUrl},#{makerId},#{makerDt},#{appStatus},#{improvement},#{type},#{name})
	</insert>

	<select id="queryByIdkey" parameterType="java.lang.Long" 
		resultMap="bizAppMap">
		select * from biz_app where id_key = #{idKey}
	</select>

	<select id="queryMaxPublishedVersion" resultMap="bizAppMap" parameterType="java.lang.String">
		SELECT * FROM biz_app where type=#{type} and app_status=2 AND app_version=(select max(app_version) from biz_app where app_status= 2 and type=#{type} ) ;
	</select>

	<select id="getMaxVersionNo" resultType="java.lang.String" parameterType="java.lang.String">
		select max(app_version)
		from biz_app where type=#{type}
	</select>

	<select id="queryPage" resultMap="bizAppList" parameterType="Page">
		select a.* ,b.cd_nm as maker_nm,c.cd_nm as audit_nm,d.cd_nm as
		publish_nm,e.remark as type_name,
		if(a.app_status=0,"未审核",if(a.app_status=1,"已审核",if(a.app_status=2,"已发布","未知")))
		as status_nm
		from biz_app a
		LEFT JOIN sys_user b on a.maker_id=b.id_key
		LEFT JOIN sys_user c on a.audit_id=c.id_key
		LEFT JOIN sys_user d on a.publish_id=d.id_key
		LEFT JOIN sys_dict e on a.type=e.dict_value
		<where>
			<!-- a.maker_dt between #{params.startDatetime} and #{params.endDatetime} -->
			<if test='params.appStatus != -1 '>
				and a.app_status = #{params.appStatus}
			</if>
		</where>
		order by a.app_version desc
	</select>

</mapper>