<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizAdImageMapper">
	<resultMap type="BizAdImage" id="bizAdImageMap">
		<id column="id_key" property="idKey" />
		<result column="image_url" property="imageUrl" />
		<result column="order_code" property="order" />
		<result column="dict_key" property="dictKey" />
		<result column="image_size" property="imageSize" />
		<result column="chg_dt" property="chgDt" />
		<result column="status" property="status" />
		<result column="category_id" property="categoryId" />
		<result column="community_id" property="communityId" />
	</resultMap>

	<resultMap type="BizAdImageVO" id="bizAdImageList">
		<id column="id_key" property="idKey" />
		<result column="image_url" property="imageUrl" />
		<result column="order_code" property="order" />
		<result column="dict_key" property="dictKey" />
		<result column="image_size" property="imageSize" />
		<result column="chg_dt" property="chgDt" />
		<result column="status" property="status" />
		<result column="category_id" property="categoryId" />
		<result column="community_id" property="communityId" />
		
		<result column="type" property="type" />

	</resultMap>

	<insert id="insert" parameterType="BizAdImage" useGeneratedKeys="true"
		keyProperty="idKey">
		insert into biz_ad_image(id_key,image_url,order_code,dict_key,image_size,chg_dt,status,category_id,community_id)values(#{idKey},#{imageUrl},#{order},#{dictKey},#{imageSize},#{chgDt},#{status},#{categoryId},#{communityId})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_ad_image where
		id_key=#{idKey}
	</delete>

	<update id="update" parameterType="BizAdImage">
		update biz_ad_image
		<set>
			<if test='imageUrl!= null and imageUrl!=""'>
				image_url=#{imageUrl},
			</if>
			<if test='order!= null and order!=""'>
				order_code=#{order},
			</if>
			<if test='dictKey!= null and dictKey!=""'>
				dict_key=#{dictKey},
			</if>
			<if test='imageSize!= null and imageSize!=""'>
				image_size=#{imageSize},
			</if>
			<if test='chgDt!= null and chgDt!=""'>
				chg_dt=#{chgDt},
			</if>
			<if test='status!= null and status!=""'>
				status=#{status},
			</if>
			<if test='categoryId != null and categoryId!=""'>
				category_id=#{categoryId},
			</if>
			<if test='communityId != null and communityId !=""'>
				community_id=#{communityId},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="bizAdImageMap"
		parameterType="java.lang.Long">
		select * from biz_ad_image where id_key=#{idKey}
	</select>

	<select id="queryPage" resultMap="bizAdImageList" parameterType="Page">
		select a.*,b.dict_value as type from biz_ad_image a left join sys_dict
		b on a.dict_key=b.id_key
		<where>
			<!-- 手机端访问 -->
			<if test='params.way="app"'>
				a.status=1 and a.image_url is not null
			</if>
			<if test='params.categoryId != null and params.categoryId != "" and params.categoryId != -1'>
				and a.category_id=#{params.categoryId}
			</if>
			<if test='params.imageSize != null and params.imageSize != "" '>
				and a.image_size=#{params.imageSize}
			</if>
			<if test='params.communityId != null and params.communityId != "" and params.communityId != -1'>
				and a.community_id=#{params.communityId}
			</if>
		</where>
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from biz_ad_image where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into biz_ad_image(
		image_url,order_code,dict_key,image_size,chg_dt,status,category_id,community_id)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.imageUrl},#{item.order},#{item.dictKey},#{item.imageSize},#{item.chgDt},#{item.status},#{item.categoryId},#{item.communityId})
		</foreach>
	</insert>
	<!-- 查询广告种类 -->

	<select id="queryAdImageType" resultMap="bizAdImageList"
		parameterType="Page">
		select a.dict_key,a.category_id,b.category_name as type,a.community_id from biz_ad_image
		a ,biz_category b where	a.category_id=b.id_key GROUP BY a.category_id
	</select>


	<select id="queryMaxOrderByType" resultType="java.lang.Long"
		parameterType="java.lang.String">
		select max(a.order_code)  from biz_ad_image a  where a.category_id=#{0} and a.community_id=#{1}
	</select>
</mapper>
