<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizCouponMapper">
	<resultMap type="BizCoupon" id="bizCouponMap">
		<id column="id_key" property="idKey" />
		<result column="order_details_id" property="orderDetailsId" />
		<result column="verification" property="verification" />
		<result column="status" property="status" />
		<result column="chg_dt" property="chgDt" />
		<result column="use_dt" property="useDt" />
		<result column="remark" property="remark" />
	</resultMap>

	<resultMap type="BizCouponVO" id="bizCouponList">
		<id column="id_key" property="idKey" />
		<result column="order_details_id" property="orderDetailsId" />
		<result column="verification" property="verification" />
		<result column="status" property="status" />
		<result column="chg_dt" property="chgDt" />
		<result column="use_dt" property="useDt" />
		<result column="remark" property="remark" />
		<result column="shop_name" property="shopName" />
		<result column="shop_id" property="shopId" />
		<result column="goods_name" property="goodsName" />
		<result column="goods_id" property="goodsId" />
		<result column="goods_unit_price" property="goodsUnitPrice" />
		
		<result column="sales_id" property="salesId" />
	</resultMap>

	<insert id="insert" parameterType="BizCoupon" useGeneratedKeys="true"
		keyProperty="idKey">
		insert into biz_coupon(
		id_key,order_details_id,verification,status,chg_dt,use_dt,remark)
		values(
		#{idKey},#{orderDetailsId},#{verification},#{status},#{chgDt},#{useDt},#{remark})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_coupon where
		id_key=#{idKey}
	</delete>

	<update id="update" parameterType="BizCoupon">
		update biz_coupon
		<set>
			<if test='orderDetailsId!= null and orderDetailsId!=""'>
				order_details_id=#{orderDetailsId},
			</if>
			<if test='verification!= null and verification!=""'>
				verification=#{verification},
			</if>
			<if test='status!= null and status!=""'>
				status=#{status},
			</if>
			<if test='chgDt!= null and chgDt!=""'>
				chg_dt=#{chgDt},
			</if>
			<if test='useDt != null and useDt!=""'>
				use_dt=#{useDt},
			</if>
			<if test='remark != null and remark !=""'>
				remark=#{remark},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="bizCouponMap"
		parameterType="java.lang.Long">
		select * from biz_coupon where id_key=#{idKey}
	</select>

	<select id="queryPage" resultMap="bizCouponList" parameterType="Page">
		select bc.*,bs.name as shop_name,bs.id_key as shop_id,bod.id_key as
		goods_id, bod.goods_name,bod.goods_unit_price from biz_coupon bc left
		join biz_order_details bod on
		bod.id_key=bc.order_details_id left join
		biz_order bo on
		bo.id_key=bod.order_id left join biz_shop bs on
		bs.id_key=bo.shop_id
		<where>
			<if test='params.userId != null and params.userId != ""'>
				and bo.user_id=#{params.userId}
			</if>
		</where>
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from biz_coupon where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into biz_coupon(
		order_details_id,verification,status,chg_dt,use_dt,remark)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.orderDetailsId},#{item.verification},#{item.status},#{item.chgDt},#{item.useDt},#{item.remark})
		</foreach>
	</insert>
	<!-- 改变成已经使用的状态 -->
	<update id="updateToUsed" parameterType="BizCouponVO" >
		update biz_coupon bc,biz_order_details bod,biz_order bo set bc.status=2,bc.use_dt=#{useDt} where bc.verification=#{verification} and bo.sales_id=#{salesId} and bc.order_details_id=bod.id_key and bod.order_id=bo.id_key and bc.status=1
	</update>
</mapper>
