<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizCommentImageMapper">
	<resultMap type="BizCommentImage" id="bizCommentImageMap">
		<id column="id_key" property="idKey" />
		<result column="comment_id" property="commentId" />
		<result column="image_url" property="imageUrl" />
	</resultMap>

	<select id="queryByCommentIdkey" resultMap="bizCommentImageMap"
		parameterType="java.lang.Long">
		select image_url from biz_comment_image where comment_id=#{commentId}
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from
		biz_comment_image where id_key=#{commentId}
	</delete>

	<insert id="insert" parameterType="BizCommentImage"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into
		biz_comment_image(id_key, comment_id, image_url)
		values
		(#{idKey},
		#{commentId}, #{imageUrl})
	</insert>
</mapper>
