<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizChainMapper">
	<resultMap type="BizChain" id="bizChainMap">
		<id column="id_key" property="idKey" />
		<result column="chain_name" property="chainName" />
		<result column="links_url" property="linksUrl" />
		<result column="images_url" property="imagesUrl" />
		<result column="community_id" property="communityId" />
	</resultMap>
	
	<resultMap type="BizChainVO" id="bizChainMapList">
		<id column="id_key" property="idKey" />
		<result column="chain_name" property="chainName" />
		<result column="links_url" property="linksUrl" />
		<result column="images_url" property="imagesUrl" />
		<result column="community_id" property="communityId" />
				
		<result column="publish_nm" property="publishNm" />
		<result column="clicks_total" property="clicksTotal" />
		<result column="community_name" property="communityName" />
	</resultMap>

	<!-- 更新链接 -->
	<update id="update" parameterType="BizChain">
		update biz_chain 
		<set>
	            chain_name = #{chainName},
	            links_url = #{linksUrl},
	            images_url = #{imagesUrl},
	    </set>
	    where id_key = #{idKey}
	</update>
	<!-- 删除链接 -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_chain where id_key = #{idKey}
	</delete>
	<!-- 删除链接 -->
	<delete id="deleteByCommunityId" parameterType="java.lang.Long">
		delete from biz_chain where community_id = #{communityId}
	</delete>
	<!-- 插入链接 -->
	<insert id="insert" parameterType="BizChain" useGeneratedKeys="true" keyProperty="idKey">		
		insert into biz_chain
		(id_key,chain_name,links_url,images_url,community_id)
		values
		(#{idKey},#{chainName},#{linksUrl},#{imagesUrl},#{communityId})
	</insert>
	<!-- 根据ID查询链接 -->
	<select id="queryById" parameterType="java.lang.Long" resultMap="bizChainMap">
		select * from biz_chain a where a.id_key = #{idKey}
	</select>
	<!-- 分页查询 -->
	<select id="queryPage" resultMap="bizChainMapList" parameterType="Page">
		select a.* , ifnull(b.click, 0) as clicks_total,c.cu_name as community_name from biz_chain a 
		LEFT JOIN (select chain_id,count(*) click from biz_hit_record group by chain_id) b 
		on a.id_key = b.chain_id 
		LEFT JOIN sys_community c on c.id_key =a.community_id
		<where>
		<if test='params.communityId != -1 and params.communityId !=null'>
				and a.community_id = #{params.communityId}
			</if>
		<if test=' params.communityIds !=null'>
				and a.community_id in <foreach item="item" index="index"  collection="params.communityIds"    open="(" separator="," close=")"> #{params.communityIds[${index}]}</foreach>   
			</if>
		</where>
	</select>
	<!-- 手机端查询便民服务链接 -->
	<select id="queryMobileChainInfoList" resultMap="bizChainMap" parameterType="java.lang.Long">
		select * from biz_chain  where community_id = #{communityId}
	</select>	
	<!-- 插入默认的便民服务链接 -->
	<insert id="insertDefault"  useGeneratedKeys="true" keyProperty="idKey"  parameterType="java.lang.Long">
		INSERT INTO biz_chain
		(chain_name,links_url,images_url,community_id) SELECT chain_name,links_url,images_url,#{communityId} FROM biz_chain WHERE community_id=10028
	</insert>
</mapper>