<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizHousekeepingMapper">
	<resultMap type="BizHousekeeping" id="BizHousekeepingMap">
		<id column="id_Key" property="idKey" />
		<result column="name" property="name" />
		<result column="imageUrl" property="imageUrl" />
		<result column="detail" property="detail" />
		<result column="category" property="category" />
		<result column="phoneNumber" property="phoneNumber" />
		<result column="address" property="address" />
		<result column="communityId" property="communityId" />
	</resultMap>

	<resultMap type="BizHousekeepingVO" id="BizHousekeepingList">
		<id column="id_Key" property="idKey" />
		<result column="name" property="name" />
		<result column="imageUrl" property="imageUrl" />
		<result column="detail" property="detail" />
		<result column="category" property="category" />
		<result column="phoneNumber" property="phoneNumber" />
		<result column="address" property="address" />
		<result column="communityId" property="communityId" />
	</resultMap>

	<insert id="insert" parameterType="BizHousekeeping" useGeneratedKeys="true" keyProperty="idKey">
		insert into biz_housekeeping(id_key, name, imageUrl, detail,category,phoneNumber,address,communityId)
		values(#{idKey}, #{name}, #{imageUrl}, #{detail}, #{category}, #{phoneNumber}, #{address}, #{communityId})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_housekeeping where id_key=#{idKey}
	</delete>

	<update id="update" parameterType="BizHousekeeping">
		update biz_housekeeping
		<set>
			<if test='name != null and name!=""'>
				name=#{name},
			</if>
			<if test='imageUrl != null and imageUrl!=""'>
				imageUrl=#{imageUrl},
			</if>
			<if test='detail != null and detail!=""'>
				detail=#{detail},
			</if>
			<if test='category != null and category!=""'>
				category=#{category},
			</if>
			<if test='phoneNumber != null and phoneNumber!=""'>
				phoneNumber=#{phoneNumber},
			</if>
			<if test='address != null and address!=""'>
				address=#{address},
			</if>
			<if test='communityId != null and communityId!=""'>
				communityId=#{communityId},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryPage" resultMap="BizHousekeepingList" parameterType="Page">
		select * from biz_housekeeping
	</select>
	<select id="queryCategorysByCommuntityId" resultType="java.lang.String" parameterType="java.lang.Long">
		select distinct category from biz_housekeeping where communityId=#{idKey}
	</select>
	<select id="searchByCategorys" resultMap="BizHousekeepingList" parameterType="Page">
		<if test="params.all">
			select * from biz_housekeeping where communityId=#{params.communityId}
		</if>
		<if test="!params.all">
			select * from biz_housekeeping where
			<foreach item="i" collection="params.names" open="(" close=")" separator="or">
				category = '${i}'
			</foreach>
			
			and communityId=#{params.communityId}
		</if>
	</select>
	
</mapper>
