<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizNoteReplyMapper">
	<resultMap type="BizNoteReply" id="bizNoteReplyMap">
		<id column="id_key" property="idKey" />
		<result column="note_id" property="noteId" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_dt" property="replyDt" />
		<result column="reply_user_id" property="replyUserId" />
	
	</resultMap>
	
	<resultMap type="BizNoteReplyVO" id="bizNoteReplyList">
		<id column="id_key" property="idKey" />
		<result column="note_id" property="noteId" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_dt" property="replyDt" />
		<result column="reply_user_id" property="replyUserId" />
				
		<result column="note_name" property="noteName" />
		<result column="reply_user_name" property="replyUserName" />
	</resultMap>

	<!-- 删除回复 -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_note_reply where id_key = #{idKey}
	</delete>
	<!-- 插入回复 -->
	<insert id="insert" parameterType="BizNoteReply" useGeneratedKeys="true" keyProperty="idKey">		
		insert into biz_note_reply
		(note_id, reply_content, reply_dt, reply_user_id)
		values
		(#{noteId}, #{replyContent}, #{replyDt}, #{replyUserId})
	</insert>

	<!-- 分页查询 -->
	<select id="queryPage" parameterType="java.lang.Long" resultMap="bizNoteReplyList">
		 select a.*, b.cd_nm as reply_user_name, c.note_title as note_name  
			from biz_note_reply a 
			LEFT JOIN sys_user  b on a.reply_user_id   = b.id_key
			LEFT JOIN biz_note  c on a.note_id   	   = c.id_key
			<where>
				a.note_id = #{idKey}
			</where> 
	</select>
	<!-- 单条查询 -->
	<select id="queryById" parameterType="java.lang.Long" resultMap="bizNoteReplyList">
		 select a.*, b.cd_nm as reply_user_name, c.note_title as note_name  
			from biz_note_reply a 
			LEFT JOIN sys_user  b on a.reply_user_id   = b.id_key
			LEFT JOIN biz_note  c on a.note_id   	   = c.id_key
			<where>
				a.id_key = #{idKey}
			</where> 
	</select>	
</mapper>