<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizOrderDetailsMapper">
	<resultMap type="BizOrderDetails" id="bizOrderDetailsMap">
		<id column="id_key" property="idKey" />
		<result column="order_id" property="orderId" />
		<result column="goods_name" property="goodsName" />
		<result column="goods_id" property="goodsId" />
		<result column="goods_quantity" property="goodsQuantity" />
		<result column="goods_unit_price" property="goodsUnitPrice" />
		<result column="goods_cost" property="goodsCost" />
		<result column="simages" property="simages" />
		<result column="show_simages" property="showSimages" />
		<result column="goods_discount_price" property="goodsDiscountPrice" />
	</resultMap>

	<select id="queryPage" resultMap="bizOrderDetailsMap"
		parameterType="Page">
		select * from biz_order_details where
		order_id=#{params.orderId}
	</select>
	<insert id="insert" parameterType="BizOrderDetails"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into biz_order_details
		(id_key, order_id, goods_name, goods_id,
		goods_quantity,
		goods_unit_price, goods_cost,simages,show_simages,goods_discount_price)
		values
		(#{idKey},#{orderId},#{goodsName},#{goodsId},#{goodsQuantity},#{goodsUnitPrice},#{goodsCost},#{simages},#{showSimages},#{goodsDiscountPrice})
	</insert>
	<select id="selectByGoodsId" resultMap="bizOrderDetailsMap"
		parameterType="java.lang.Long">
		select * from biz_order_details where
		goods_id=#{goodsId}
	</select>
	<select id="queryByOrderId" resultMap="bizOrderDetailsMap"
		parameterType="java.lang.Long">
		select * from biz_order_details where
		order_id=#{orderId}
	</select>
	<select id="queryGoodsNotInMallByOrderId" resultMap="bizOrderDetailsMap"
		parameterType="java.lang.Long">
		select bod.* from biz_order_details bod,biz_goods bg where
		bod.order_id=#{orderId}  and bg.id_key=bod.goods_id and !find_in_set(bg.goods_type_id,queryChildrenCategory(2))
	</select>
	<insert id="insertMulti" parameterType="java.util.List">
		insert into biz_order_details(
		order_id,goods_id,goods_quantity,goods_unit_price,goods_cost,goods_name,simages,show_simages,goods_discount_price)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.orderId},#{item.goodsId},#{item.goodsQuantity},#{item.goodsUnitPrice},#{item.goodsCost},#{item.goodsName},#{item.simages},#{item.showSimages},#{item.goodsDiscountPrice})
		</foreach>
	</insert>
</mapper>