<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizPropertiesRepairMapper">
	<resultMap type="BizPropertiesRepair" id="bizPropertiesRepairMap">
		<id column="id_key" property="idKey" />
		<result column="title" property="title" />
		<result column="repair_type" property="type" />
		<result column="content" property="content" />
		<result column="parent_id" property="parentId" />
		<result column="contacts" property="contacts" />
		<result column="contacts_tel" property="contactsTel" />
		<result column="contacts_addr" property="contactsAddr" />
		<result column="publish_dt" property="publishDt" />
		<result column="user_id" property="userId" />
		<result column="community_id" property="communityId" />
		<result column="repair_status" property="repairStatus" />
		<result column="reply_content" property="replyContent" />
		<result column="reply_dt" property="replyDt" />
		
		<result column="community_code" property="communityCode" />
		<result column="type_name" property="typeName" />
		<result column="address" property="address" />
	</resultMap>

	<resultMap type="BizPropertiesRepairVO" id="bizPropertiesRepairList">
		<id column="id_key" property="idKey" />
		<result column="title" property="title" />
		<result column="repair_type" property="type" />
		<result column="content" property="content" />
		<result column="parent_id" property="parentId" />
		<result column="contacts" property="contacts" />
		<result column="contacts_tel" property="contactsTel" />
		<result column="contacts_addr" property="contactsAddr" />
		<result column="publish_dt" property="publishDt" />
		<result column="user_id" property="userId" />
		<result column="community_id" property="communityId" />
		<result column="repair_status" property="repairStatus" />
		<result column="reply_content" property="replyContent" />
		
		<result column="user_building" property="userBuilding" />
		<result column="user_unit" property="userUnit" />
		<result column="user_floor" property="userFloor" />
		<result column="user_room" property="userRoom" />

		<result	column="user_name" property="userName" />
		<result column="community_name" property="communityName" />
		<result column="type_names" property="typeNames" />
		<result column="status_name" property="statusName" />
		<result column="reply_dt" property="replyDt" />
		<result column="reply_user_id" property="replyUserId" />
		
		<result column="community_code" property="communityCode" />
		<result column="type_name" property="typeName" />
		<result column="address" property="address" />
	</resultMap>

	<insert id="insert" parameterType="BizPropertiesRepair"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into biz_property_repair(
		id_key,title,repair_type,content,parent_id,contacts,contacts_tel,contacts_addr,publish_dt,user_id,community_id,repair_status,reply_content, community_code, type_name, address, reply_dt, reply_user_id)
		values(
		#{idKey},#{title},#{type},#{content},#{parentId},#{contacts},#{contactsTel},#{contactsAddr},#{publishDt},#{userId},#{communityId},#{repairStatus},#{replyContent}, #{communityCode}, #{typeName}, #{address}, #{replyDt}, #{replyUserId})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_property_repair where id_key=#{idKey}
	</delete>

	<update id="update" parameterType="BizPropertiesRepair">
		update biz_property_repair
		<set>
			<if test='title!= null and title!=""'>
				title=#{title},
			</if>
			<if test='type!= null and type!=""'>
				repair_type=#{type},
			</if>
			<if test='content!= null and content!=""'>
				content=#{content},
			</if>
			<if test='parentId!= null and parentId!=""'>
				parent_id=#{parentId},
			</if>
			<if test='contacts!= null and contacts!=""'>
				contacts=#{contacts},
			</if>
			<if test='contactsTel!= null and contactsTel!=""'>
				contacts_tel=#{contactsTel},
			</if>
			<if test='contactsAddr!= null and contactsAddr!=""'>
				contacts_addr=#{contactsAddr},
			</if>
			<if test='publishDt!= null and publishDt!=""'>
				publish_dt=#{publishDt},
			</if>
			<if test='userId!= null and userId!=""'>
				user_id=#{userId},
			</if>
			<if test='communityId!= null and communityId!=""'>
				community_id=#{communityId},
			</if>
			<if test='repairStatus!= null and repairStatus!=""'>
				repair_status=#{repairStatus},
			</if>
			<if test='replyContent!= null and replyContent!=""'>
				reply_content=#{replyContent},
			</if>
			<if test='communityCode!= null and communityCode!=""'>
				community_code=#{communityCode},
			</if>
			<if test='typeName!= null and typeName!=""'>
				type_name=#{typeName},
			</if>
			<if test='address!= null and address!=""'>
				address=#{address},
			</if>
			<if test='replyDt!= null and replyDt!=""'>
				reply_dt=#{replyDt},
			</if>
			<if test='replyUserId!= null and replyUserId!=""'>
				reply_user_id=#{replyUserId}
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="bizPropertiesRepairList"
		parameterType="java.lang.Long">
		select * from biz_property_repair where id_key=#{idKey}
	</select>
	<select id="getById" resultMap="bizPropertiesRepairMap" parameterType="java.lang.Long">
			select * from biz_property_repair where id_key=#{0}
		</select>
	<select id="queryPage" resultMap="bizPropertiesRepairList"
		parameterType="Page">
		select a.*, b.cu_name as community_name, c.building as user_building, c.unit as user_unit, c.floor as user_floor, c.room as user_room, 
		if(a.repair_type=1,"个人报修",if(a.repair_type=2,"公共报修","未知")) as type_names,
		if(a.repair_status=1,"未处理",if(a.repair_status=2,"已处理","未知")) as status_name  
		from biz_property_repair a 
 			LEFT JOIN sys_community b on a.community_id = b.id_key
 			LEFT JOIN sys_user      c on a.user_id = c.id_key  
 		<where>
 			a.publish_dt between #{params.startDatetime} and #{params.endDatetime}  
			<if test='params.repairStatus != -1 and params.repairStatus !=null'>
				and a.repair_status = #{params.repairStatus}
			</if> 
			<if test='params.communityId != -1 and params.communityId !=null'>
				and a.community_id = #{params.communityId}
			</if>
			<if test=' params.communityIds !=null'>
				and a.community_id in <foreach item="item" index="index"  collection="params.communityIds"    open="(" separator="," close=")"> #{params.communityIds[${index}]}</foreach>   
			</if>
 		</where>
 		order by a.publish_dt desc
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from biz_property_repair where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into biz_property_repair(
		title,repair_type,content,parent_id,contacts,contacts_tel,contacts_addr,publish_dt,user_id,community_id,repair_status,reply_content)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.title},#{item.type},#{item.content},#{item.parentId},#{item.contacts},#{item.contactsTel},#{item.contactsAddr},#{item.publishDt},#{item.userId},#{item.communityId},#{item.repairStatus},#{replyContent})
		</foreach>
	</insert>
	
	<select id="mobileQueryList" parameterType="Page" resultMap="bizPropertiesRepairList">
		select a.*, b.cu_name as community_name, c.cd_nm as user_name from biz_property_repair a 
 			LEFT JOIN sys_community b on a.community_id = b.id_key 
 			LEFT JOIN sys_user      c on a.user_id      = c.id_key 
 		<where>
 			<!-- a.publish_dt between #{params.startDatetime} and #{params.endDatetime}  -->
 			a.user_id = #{params.userId} and a.parent_id = -1
			<if test='params.repairStatus != -1 and params.repairStatus !=null'>
				and a.repair_status = #{params.repairStatus}
			</if> 
 		</where>
 		order by a.publish_dt desc
	</select>
	
	<select id="mobileQueryDetails" resultMap="bizPropertiesRepairList" parameterType="java.lang.Long">
		select * from biz_property_repair where parent_id=#{idKey} order by publish_dt asc
	</select>
	
	<delete id="mobileDeleteMulti" parameterType="java.util.Map">
		delete from biz_property_repair where id_key in
		<foreach item="item" index="index" collection="propertyIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>
	
	<insert id="mobileInsert" parameterType="BizPropertiesRepair"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into biz_property_repair(
		id_key,title,repair_type,content,parent_id,contacts,contacts_tel,contacts_addr,publish_dt,user_id,community_id,repair_status)
		values(
		#{idKey},#{title},#{type},#{content},#{parentId},#{contacts},#{contactsTel},#{contactsAddr},#{publishDt},#{userId},#{communityId},#{repairStatus})
	</insert>
	
	<select id="queryByCommunityCode" resultMap="bizPropertiesRepairList"
		parameterType="java.lang.String">
		select * from biz_property_repair where community_code=#{communityCode}
	</select>
	
	<select id="queryNoReplyRepair" resultMap="bizPropertiesRepairList"
		parameterType="java.lang.Long">
		select * from biz_property_repair where parent_id=#{parentId} and repair_status=1
	</select>
	
	
</mapper>
