<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizPromotionGoodsMapper">
<resultMap type="BizPromotionGoods" id="bizPromotionGoodsMap">
<id column="id_key" property="idKey" />
<result column="goods_id" property="goodsId" />
<result column="promotion_id" property="promotionId" />
<result column="category_id" property="categoryId" />
<result column="chg_dt" property="chgDt" />
</resultMap>

<resultMap type="BizPromotionGoodsVO" id="bizPromotionGoodsList">
<id column="id_key" property="idKey" />
<result column="goods_id" property="goodsId" />
<result column="promotion_id" property="promotionId" />
<result column="category_id" property="categoryId" />
<result column="chg_dt" property="chgDt" />


</resultMap>

<insert id="insert" parameterType="BizPromotionGoods" useGeneratedKeys="true" keyProperty="idKey">
insert into biz_promotion_goods(
id_key,goods_id,promotion_id,category_id,chg_dt)
values(
#{idKey},#{goodsId},#{promotionId},#{categoryId},#{chgDt})
</insert>

<delete id="delete"  parameterType="java.lang.Long">
delete  from biz_promotion_goods where id_key=#{idKey}
</delete>

<update id="update" parameterType="BizPromotionGoods">
update biz_promotion_goods
<set>
<if test='goodsId!= null and goodsId!=""'>
goods_id=#{goodsId},
</if>
<if test='promotionId!= null and promotionId!=""'>
promotion_id=#{promotionId},
</if>
<if test='categoryId!= null and categoryId!=""'>
category_id=#{categoryId},
</if>
<if test='chgDt!= null and chgDt!=""'>
chg_dt=#{chgDt},
</if>
</set>
where id_key= #{idKey}
</update>

<select id="queryByIdkey" resultMap="bizPromotionGoodsMap" parameterType="java.lang.Long">
select * from biz_promotion_goods where id_key=#{idKey}
</select>

<select id="queryPage" resultMap="bizPromotionGoodsList" parameterType="Page">
null
<!--<where>
chg_dt between #{params.startDatetime} and #{params.endDatetime}
<if test='params.name != null and params.name != ""'>
and br.name=#{params.name}
</if>
</where>-->
</select>

<delete id="deleteMulti" parameterType="java.util.Map">
delete from biz_promotion_goods where id_key in <foreach item="item" index="index" collection="deviceIdin" open="(" separator="," close=")">${item}</foreach>
</delete>

<insert id="insertMulti" parameterType="java.util.List">
insert into biz_promotion_goods(
goods_id,promotion_id,category_id,chg_dt)
values
<foreach collection="list" item="item" separator="," index="index" >
(#{item.goodsId},#{item.promotionId},#{item.categoryId},#{item.chgDt})
</foreach>
</insert>
</mapper>
