<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.business.BizPromotionRuleMapper">
	<resultMap type="BizPromotionRule" id="bizPromotionRuleMap">
		<id column="id_key" property="idKey" />
		<result column="promotion_id" property="promotionId" />
		<result column="compare_name" property="compareName" />
		<result column="compare_type" property="compareType" />
		<result column="value" property="value" />
	</resultMap>

	<resultMap type="BizPromotionRuleVO" id="bizPromotionRuleList">
		<id column="id_key" property="idKey" />
		<result column="promotion_id" property="promotionId" />
		<result column="compare_name" property="compareName" />
		<result column="compare_type" property="compareType" />
		<result column="value" property="value" />


	</resultMap>

	<insert id="insert" parameterType="BizPromotionRule"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into biz_promotion_rule(
		id_key,promotion_id,compare_name,compare_type,value)
		values(
		#{idKey},#{promotionId},#{compareName},#{compareType},#{value})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from biz_promotion_rule where id_key=#{idKey}
	</delete>

	<update id="update" parameterType="BizPromotionRule">
		update biz_promotion_rule
		<set>
			<if test='promotionId!= null and promotionId!=""'>
				promotion_id=#{promotionId},
			</if>
			<if test='compareName!= null and compareName!=""'>
				compare_name=#{compareName},
			</if>
			<if test='compareType!= null and compareType!=""'>
				compare_type=#{compareType},
			</if>
			<if test='value!= null and value!=""'>
				value=#{value},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="bizPromotionRuleMap"
		parameterType="java.lang.Long">
		select * from biz_promotion_rule where id_key=#{idKey}
	</select>
	<select id="queryByPromotionId" resultMap="bizPromotionRuleMap"
		parameterType="java.lang.Long">
		select * from biz_promotion_rule where promotion_id=#{promotionId}
	</select>

	<select id="queryPage" resultMap="bizPromotionRuleList"
		parameterType="Page">
		null
		<!--<where> chg_dt between #{params.startDatetime} and #{params.endDatetime} 
			<if test='params.name != null and params.name != ""'> and br.name=#{params.name} 
			</if> </where> -->
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from biz_promotion_rule where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into biz_promotion_rule(
		promotion_id,compare_name,compare_type,value)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.promotionId},#{item.compareName},#{item.compareType},#{item.value})
		</foreach>
	</insert>
</mapper>
