<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysAboutUSEventMapper">
	<resultMap type="SysAboutUSEvent" id="SysAboutUSEventMap">
		<id column="id_key" property="idKey" />
		<result column="event_title" property="eventTitle" />
		<result column="event_subtitle" property="eventSubtitle" />
		<result column="event_content" property="eventContent" />
		<result column="event_happentime" javaType="DATE" property="happenTime" />
	</resultMap>

	<resultMap type="SysAboutUSEventVO" id="SysAboutUSEventList">
		<id column="id_key" property="idKey" />
		<result column="event_title" property="eventTitle" />
		<result column="event_subtitle" property="eventSubtitle" />
		<result column="event_content" property="eventContent" />
		<result column="event_happentime" property="happenTime" javaType="DATE" />
	</resultMap>

	<insert id="insert" parameterType="SysAboutUSEvent" useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_aboutus_event(id_key, event_title, event_subtitle, event_content, event_happentime)
		values(#{idKey}, #{eventTitle}, #{eventSubtitle}, #{eventContent}, #{happenTime})
	</insert>
	
	<insert id="insertMulti" parameterType="java.util.List">
		insert into sys_aboutus_event(id_key, event_title, event_subtitle, event_content)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.idKey}, #{item.eventTitle}, #{item.eventSubtitle}, #{item.eventContent})
		</foreach>
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_aboutus_event where id_key=#{idKey}
	</delete>
	
	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from sys_aboutus_event where id_key in
		<foreach item="item" index="index" collection="deviceIdin" open="(" separator="," close=")">
			${item}
		</foreach>
	</delete>

	<update id="update" parameterType="SysAboutUSEvent">
		update sys_aboutus_event
		<set>
			<if test='eventTitle!= null and eventTitle!=""'>
				event_title=#{eventTitle},
			</if>
			<if test='eventSubtitle!=null and eventSubtitle!=""'>
				event_subtitle=#{eventSubtitle},
			</if>
			<if test='eventContent!=null and eventContent!=""'>
				event_content=#{eventContent},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdKey" resultMap="SysAboutUSEventMap" parameterType="java.lang.Long">
		select * from sys_aboutus_event where id_key=#{idKey}
	</select>

	<select id="listPage" resultMap="SysAboutUSEventList" parameterType="Page">
		select * from sys_aboutus_event
	</select>
	
	<select id="list" resultMap="SysAboutUSEventList" parameterType="SearchParam">
		select * from sys_aboutus_event
	</select>
</mapper>
