<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysAboutUSCultureMapper">
	<resultMap type="SysAboutUSCulture" id="SysAboutUSCultureMap">
		<id column="id_key" property="idKey" />
		<result column="culture_title" property="cultureTitle" />
		<result column="culture_subtitle" property="cultureSubtitle" />
		<result column="culture_content" property="cultureContent" />
	</resultMap>

	<resultMap type="SysAboutUSCultureVO" id="SysAboutUSCultureList">
		<id column="id_key" property="idKey" />
		<result column="culture_title" property="cultureTitle" />
		<result column="culture_subtitle" property="cultureSubtitle" />
		<result column="culture_content" property="cultureContent" />
	</resultMap>

	<insert id="insert" parameterType="SysAboutUSCulture" useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_aboutus_culture(id_key, culture_title, culture_subtitle, culture_content)
		values(#{idKey}, #{cultureTitle}, #{cultureSubtitle}, #{cultureContent})
	</insert>
	
	<insert id="insertMulti" parameterType="java.util.List">
		insert into sys_aboutus_culture(id_key, culture_title, culture_subtitle, culture_content)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.idKey}, #{item.cultureTitle}, #{item.cultureSubtitle}, #{item.cultureContent})
		</foreach>
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_aboutus_culture where id_key=#{idKey}
	</delete>
	
	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from sys_aboutus_culture where id_key in
		<foreach item="item" index="index" collection="deviceIdin" open="(" separator="," close=")">
			${item}
		</foreach>
	</delete>

	<update id="update" parameterType="SysAboutUSCulture">
		update sys_aboutus_culture
		<set>
			<if test='cultureTitle!=null and cultureTitle!=""'>
				culture_title=#{cultureTitle},
			</if>
			<if test='cultureSubtitle!=null and cultureSubtitle!=""'>
				culture_subtitle=#{cultureSubtitle},
			</if>
			<if test='cultureContent!=null and cultureContent!=""'>
				culture_content=#{cultureContent},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdKey" resultMap="SysAboutUSCultureMap" parameterType="java.lang.Long">
		select * from sys_aboutus_culture where id_key=#{idKey}
	</select>

	<select id="listPage" resultMap="SysAboutUSCultureList" parameterType="Page">
		select * from sys_aboutus_culture
	</select>
	
	<select id="list" resultMap="SysAboutUSCultureList" parameterType="SearchParam">
		select * from sys_aboutus_culture
	</select>
	<select id="queryFirst" resultMap="SysAboutUSCultureMap">
		select * from sys_aboutus_culture limit 1
	</select>
</mapper>
