<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysCommunityInfoMapper">
	<resultMap type="SysCommunityInfo" id="sysCommunityInfoMap">
		<id column="id_key" property="idKey" />
		<result column="display_name" property="displayName" />
		<result column="address" property="address" />
		<result column="tel" property="tel" />
		<result column="phone_num" property="phoneNum" />
		<result column="community_code" property="communityCode" />
		<result column="community_id" property="communityId" />
		<result column="summary" property="summary" />
		<result column="logo_url" property="logoUrl" />
		<result column="tenant_code" property="tenantCode" />
		<result column="email" property="email" />
		<result column="create_time" property="createTime" />
		<result column="is_enable" property="isEnable" />
		<result column="sms_count" property="smsCount" />
		<result column="contact" property="contact" />
		<result column="url" property="url" />
		<result column="last_updated" property="lastUpdated" />
		<result column="code" property="code" />
		<result column="info_type" property="type" />
	</resultMap>

	<resultMap type="SysCommunityInfoVO" id="sysCommunityInfoList">
		<id column="id_key" property="idKey" />
		<result column="display_name" property="displayName" />
		<result column="address" property="address" />
		<result column="tel" property="tel" />
		<result column="phone_num" property="phoneNum" />
		<result column="community_code" property="communityCode" />
		<result column="community_id" property="communityId" />
		<result column="summary" property="summary" />
		<result column="logo_url" property="logoUrl" />
		<result column="tenant_code" property="tenantCode" />
		<result column="email" property="email" />
		<result column="create_time" property="createTime" />
		<result column="is_enable" property="isEnable" />
		<result column="sms_count" property="smsCount" />
		<result column="contact" property="contact" />
		<result column="url" property="url" />
		<result column="last_updated" property="lastUpdated" />
		<result column="code" property="code" />
		<result column="info_type" property="type" />
		
		<result column="community_name" property="communityName" />
		<result column="type_names" property="typeNames" />

	</resultMap>

	<insert id="insert" parameterType="SysCommunityInfo"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_community_info(
		id_key,display_name,address,tel,phone_num,summary,logo_url,tenant_code,email,create_time,is_enable,sms_count,contact,url,last_updated,code,info_type,community_code,community_id)
		values(
		#{idKey},#{displayName},#{address},#{tel},#{phoneNum},#{summary},#{logoUrl},#{tenantCode},#{email},#{createTime},#{isEnable},#{smsCount},#{contact},#{url},#{lastUpdated},#{code},#{type},#{communityCode},#{communityId})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_community_info where id_key=#{idKey}
	</delete>

	<update id="update" parameterType="SysCommunityInfo">
		update sys_community_info
		<set>
			<if test='displayName!= null and displayName!=""'>
				display_name=#{displayName},
			</if>
			<if test='address!= null and address!=""'>
				address=#{address},
			</if>
			<if test='tel!= null and tel!=""'>
				tel=#{tel},
			</if>
			<if test='phoneNum!= null and phoneNum!=""'>
				phone_num=#{phoneNum},
			</if>
			<if test='summary!= null and summary!=""'>
				summary=#{summary},
			</if>
			<if test='logoUrl!= null and logoUrl!=""'>
				logo_url=#{logoUrl},
			</if>
			<if test='tenantCode!= null and tenantCode!=""'>
				tenant_code=#{tenantCode},
			</if>
			<if test='email!= null and email!=""'>
				email=#{email},
			</if>
			<if test='createTime!= null and createTime!=""'>
				create_time=#{createTime},
			</if>
			<if test='isEnable!= null and isEnable!=""'>
				is_enable=#{isEnable},
			</if>
			<if test='smsCount!= null and smsCount!=""'>
				sms_count=#{smsCount},
			</if>
			<if test='contact!= null and contact!=""'>
				contact=#{contact},
			</if>
			<if test='url!= null and url!=""'>
				url=#{url},
			</if>
			<if test='lastUpdated!= null and lastUpdated!=""'>
				last_updated=#{lastUpdated},
			</if>
			<if test='code!= null and code!=""'>
				code=#{code},
			</if>
			<if test='type!= null and type!=""'>
				info_type=#{type},
			</if>
			<if test='communityCode!= null and communityCode!=""'>
				community_code=#{communityCode},
			</if>
			<if test='communityId!= null and communityId!=""'>
				community_id=#{communityId},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="sysCommunityInfoMap"
		parameterType="java.lang.Long">
		select * from sys_community_info where id_key=#{idKey}
	</select>
	<select id="queryByCommiunityId" resultMap="sysCommunityInfoMap"
		parameterType="java.lang.Long">
		select * from sys_community_info where community_id=#{idKey}
	</select>
	<select id="queryPage" resultMap="sysCommunityInfoList"
		parameterType="Page">
		select a.* , b.cu_name as communityName, if(a.info_type=1,"物业公司",if(a.info_type=2,"小区信息","未知")) as type_names 
		from sys_community_info a 
		LEFT JOIN sys_community b on a.community_id = b.id_key 
 		<where>
			<if test='params.type != -1 and params.type !=null'>
				and a.info_type = #{params.type}
			</if> 
			<if test='params.communityId != -1 and params.communityId !=null'>
				and a.community_id = #{params.communityId}
			</if>
			<if test=' params.communityIds !=null'>
				and a.community_id in <foreach item="item" index="index"  collection="params.communityIds"    open="(" separator="," close=")"> #{params.communityIds[${index}]}</foreach>    
			</if>
 		</where>
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from sys_community_info where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into sys_community_info(
		display_name,address,tel,phone_num,summary,logo_url,tenant_code,email,create_time,is_enable,sms_count,contact,url,last_updated,code,info_type)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.displayName},#{item.address},#{item.tel},#{item.phoneNum},#{item.summary},#{item.logoUrl},#{item.tenantCode},#{item.email},#{item.createTime},#{item.isEnable},#{item.smsCount},#{item.contact},#{item.url},#{item.lastUpdated},#{item.code},#{item.type})
		</foreach>
	</insert>
	<select id="mobileQueryCommunityDetail" resultMap="sysCommunityInfoList"
		parameterType="java.util.Map">
		select * from sys_community_info where id_key = #{idKey} and info_type = #{type}
	</select>
	
	<select id="queryTPPDetailByName" resultMap="sysCommunityInfoMap"
		parameterType="java.lang.String">
		select * from sys_community_info where display_name = #{displayName}
	</select>
	<update id="updateByDisplayName" parameterType="SysCommunityInfo">
		update sys_community_info
		<set>
			<if test='displayName!= null and displayName!=""'>
				display_name=#{displayName},
			</if>
			<if test='address!= null and address!=""'>
				address=#{address},
			</if>
			<if test='tel!= null and tel!=""'>
				tel=#{tel},
			</if>
			<if test='phoneNum!= null and phoneNum!=""'>
				phone_num=#{phoneNum},
			</if>
			<if test='summary!= null and summary!=""'>
				summary=#{summary},
			</if>
			<if test='logoUrl!= null and logoUrl!=""'>
				logo_url=#{logoUrl},
			</if>
			<if test='tenantCode!= null and tenantCode!=""'>
				tenant_code=#{tenantCode},
			</if>
			<if test='email!= null and email!=""'>
				email=#{email},
			</if>
			<if test='createTime!= null and createTime!=""'>
				create_time=#{createTime},
			</if>
			<if test='isEnable!= null and isEnable!=""'>
				is_enable=#{isEnable},
			</if>
			<if test='smsCount!= null and smsCount!=""'>
				sms_count=#{smsCount},
			</if>
			<if test='contact!= null and contact!=""'>
				contact=#{contact},
			</if>
			<if test='url!= null and url!=""'>
				url=#{url},
			</if>
			<if test='lastUpdated!= null and lastUpdated!=""'>
				last_updated=#{lastUpdated},
			</if>
			<if test='code!= null and code!=""'>
				code=#{code},
			</if>
			<if test='type!= null and type!=""'>
				info_type=#{type},
			</if>
			<if test='communityCode!= null and communityCode!=""'>
				community_code=#{communityCode},
			</if>
			<if test='communityId!= null and communityId!=""'>
				community_id=#{communityId}
			</if>
		</set>
		where display_name= #{displayName}
	</update>
	
	<select id="queryByCommunityAndType" resultMap="sysCommunityInfoMap"
		parameterType="java.util.Map">
		select * from sys_community_info where community_id = #{communityId} and info_type = #{type}
	</select>
</mapper>
