<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysDictMapper">
	<resultMap type="SysDict" id="sysDictMap">
		<id column="id_key" property="idKey" />
		<result column="dict_type_id" property="dictTypeId" />
		<result column="dict_type_nm" property="dictTypeNm" />
		<result column="dict_value" property="dictValue"/>
		<result column="remark" property="remark" />
		<result column="chg_dt" property="chgDt" />
	</resultMap>

	<select id="queryListSysDict"  resultMap="sysDictMap">
		select  DISTINCT dict_Type_Id, dict_Type_Nm from sys_dict   
	</select>

	<select id="queryListSysDictByDictTypeId" parameterType="java.lang.String" resultMap="sysDictMap" >
		select t.* from sys_dict t where t.dict_type_id = #{dictTypeId}
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
	 	delete from sys_dict where id_key = #{idKey}
	</delete>
	
	<select id="queryIdNmByTypeID" parameterType="java.lang.String"  resultMap="sysDictMap">
		select DISTINCT dict_type_id,dict_type_nm from sys_dict t where t.dict_type_id=#{dictTypeId}
	</select>
	
	<insert id="insert" parameterType="SysDict" useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_dict(id_key, dict_type_id, dict_type_nm, dict_value, remark, chg_dt)
		values(#{idKey}, #{dictTypeId}, #{dictTypeNm}, #{dictValue}, #{remark}, #{chgDt})
	</insert>
	
	<update id="update" parameterType="SysDict">
	update sys_dict 
	<set>
		<if test='dictTypeId != "" and dictTypeId != null'>
			dict_type_id = #{dictTypeId},
		</if>
		<if test='dictTypeNm != "" and dictTypeNm != null'>
			dict_type_nm = #{dictTypeNm},
		</if>
		<if test='dictValue != "" and dictValue != null'>
			dict_value = #{dictValue},
		</if>
		<if test='remark != null'>
			remark = #{remark},
		</if>
		<if test='chgDt != "" and chgDt != null'>
			chg_dt = #{chgDt},
		</if>
		</set>
 where id_key = #{idKey}	  
	</update>
<select id="queryDictByKeyID"  resultMap="sysDictMap">
		select dict_Type_Nm from sys_dict where id_key = #{idKey}
</select>
</mapper>