<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysLogoSettingsMapper">
	<resultMap type="SysLogoSettings" id="sysLogoSettingsMap">
		<id column="id_key" property="idKey" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="image_url" property="imageUrl" />
		<result column="chg_dt" property="chgDt" />
	</resultMap>


	<insert id="insert" parameterType="SysLogoSettings"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_logo_settings(
		id_key,name,type,image_url,chg_dt)
		values(
		#{idKey},#{name},#{type},#{imageUrl},#{chgDt})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_logo_settings where id_key=#{idKey}
	</delete>

	<update id="update" parameterType="SysLogoSettings">
		update sys_logo_settings
		<set>
			<if test='name!= null and name!=""'>
				name=#{name},
			</if>
			<if test='type!= null and type!=""'>
				type=#{type},
			</if>
			<if test='chgDt!= null and chgDt!=""'>
				chg_dt=#{chgDt},
			</if>
			image_url=#{imageUrl}
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="sysLogoSettingsMap"
		parameterType="java.lang.Long">
		select * from sys_logo_settings where id_key=#{idKey}
	</select>

	<select id="queryPage" resultMap="sysLogoSettingsMap"
		parameterType="Page">
		select * from sys_logo_settings
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from sys_logo_settings where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into sys_logo_settings(
		name,type,image_url,chg_dt)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.name},#{item.type},#{item.imageUrl},#{item.chgDt})
		</foreach>
	</insert>
	
	<select id="queryAll" resultMap="sysLogoSettingsMap" parameterType="java.util.Map">
		select a.* from sys_logo_settings a
		<where>
			<if test='type != null'>
				a.type like CONCAT(#{type},'%')
			</if>
		</where>
	</select>
</mapper>
