<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysMenuMapper">
	<resultMap type="SysMenu" id="sysMenuMap">
		<id column="id_key" property="idKey" />
		<result column="cd_nm" property="cdNm" />
		<result column="last_mark" property="lastMark" />
		<result column="parent_id" property="parentId" />
		<result column="order_cd" property="orderCd"/>
		<result column="remarks" property="remarks" />
		<result column="isuse" property="isuse" />
		<result column="icon_address" property="iconAddress" />
		<result column="link_address" property="linkAddress" />
		<result column="menu_marker" property="menuMarker" />
		<result column="chg_dt" property="chgDt" />
	</resultMap>
	<select id="queryChildrenByParentId" parameterType="java.lang.Long"
		resultMap="sysMenuMap">
		select * from sys_menu where parent_id = #{parentId} order by order_cd
	</select>
	
	<update id="updateLastMark" parameterType="java.util.Map">
		update sys_menu SET last_mark = #{lastMark} WHERE id_key = #{idKey}
	</update>
	
	<update id="updateParentIdByIdKey" parameterType="java.util.Map">
		update sys_menu SET parent_id = #{parentId} WHERE id_key = #{idKey}
	</update>
	
	<select id="edit" parameterType="java.lang.Long"
		resultMap="sysMenuMap">
		select * from sys_menu t where t.id_key = #{idKey}
	</select>

	<select id="queryAll" resultMap="sysMenuMap">
		select * from sys_menu order by order_cd
	</select>

	<select id="querySingleMenuByIdKey" parameterType="java.lang.Long"
		resultMap="sysMenuMap">
		select * from sys_menu t where t.id_key = #{idKey}
	</select>

	<select id="querySingleMenuByMarker" parameterType="java.lang.String"
		resultMap="sysMenuMap">
		select * from sys_menu t where t.menu_marker = #{menuMarker}
	</select>
	
	<update id="update" parameterType="SysMenu">
	update sys_menu 
	<set>
		<if test='cdNm != "" and cdNm != null'>
			cd_nm = #{cdNm},
		</if>
		<if test='lastMark != "" and lastMark != null'>
			last_mark = #{lastMark},
		</if>
		<if test='parentId != "" and parentId != null'>
			parent_id = #{parentId},
		</if>
		<if test='orderCd != "" and orderCd != null'>
			order_cd = #{orderCd},
		</if>
		<if test='remarks != null'>
			remarks = #{remarks},
		</if>
		<if test='isuse != null'>
			isuse = #{isuse},
		</if>
		<if test='iconAddress != "" and iconAddress != null'>
			icon_address = #{iconAddress},
		</if>
		<if test='linkAddress != "" and linkAddress != null'>
			link_address = #{linkAddress},
		</if>
		<if test='menuMarker != "" and menuMarker != null'>
			menu_marker = #{menuMarker},
		</if>
		<if test='chgDt != "" and chgDt != null'>
			chg_dt = #{chgDt},
		</if>
	</set>
	where id_key = #{idKey}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_menu where id_key = #{idKey}
	</delete>

	<insert id="insert" parameterType="SysMenu" useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_menu(id_key, cd_nm, last_mark, parent_id, order_cd,
								remarks, isuse, icon_address,link_address, menu_marker, chg_dt)
		values(#{idKey}, #{cdNm}, #{lastMark}, #{parentId}, #{orderCd}, #{remarks},
				#{isuse},#{iconAddress}, #{linkAddress}, #{menuMarker}, #{chgDt})
	</insert>
	
	<select id="getTreeChildren" parameterType="java.util.Map" resultMap="sysMenuMap">
		select m.id_key,m.cd_nm,m.icon_address,m.link_address,m.last_mark from sys_menu m,sys_popedom p 
		where m.id_key=p.menu_id and m.isuse=1 and p.role_id=#{roleId} and m.parent_id=#{parentId} order by m.order_cd
	</select>
	
	 <!--2013-12-09xzmAdd 带子节点的菜单 -->
	<select id="querySysMenu" resultMap="sysMenuMap">
		select * from sys_menu order by order_cd
	</select>
	
	<!--2013-12-10xzmAdd -->
	<select id="queryMenuByUrl" parameterType="java.lang.String"
		resultMap="sysMenuMap">
		select id_key from sys_menu t where t.link_address = #{linkAddress}
	</select>
</mapper>