<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysNewsDynamicMapper">
	<resultMap type="SysNewsDynamic" id="SysNewsDynamicMap">
		<id column="id_key" property="idKey" />
		<result column="news_title" property="newsTitle" />
		<result column="news_content" property="newsContent" />
		<result column="news_type" property="newsType" />
		<result column="publish_date" property="publishDate" />
		<result column="image_url" property="imageUrl" />
	</resultMap>

	<resultMap type="SysNewsDynamicVO" id="SysNewsDynamicList">
		<id column="id_key" property="idKey" />
		<result column="news_title" property="newsTitle" />
		<result column="news_content" property="newsContent" />
		<result column="news_type" property="newsType" />
		<result column="publish_date" property="publishDate" />
		<result column="image_url" property="imageUrl" />
	</resultMap>

	<insert id="insert" parameterType="SysNewsDynamic" useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_news_dynamic(id_key, news_title, news_content, news_type, publish_date, image_url)
		values(#{idKey}, #{newsTitle}, #{newsContent}, #{newsType}, #{publishDate}, #{imageUrl})
	</insert>
	
	<insert id="insertMulti" parameterType="java.util.List">
		insert into sys_news_dynamic(id_key, news_title,  news_content, news_type, publish_date, image_url)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.idKey}, #{item.newsTitle}, #{item.newsContent}, #{item.newsType}, #{item.publishDate}, #{item.imageUrl})
		</foreach>
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_news_dynamic where id_key=#{idKey}
	</delete>
	
	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from sys_news_dynamic where id_key in
		<foreach item="item" index="index" collection="deviceIdin" open="(" separator="," close=")">
			${item}
		</foreach>
	</delete>

	<update id="update" parameterType="SysNewsDynamic">
		update sys_news_dynamic
		<set>
			<if test='newsTitle!= null and newsTitle!=""'>
				news_title=#{newsTitle},
			</if>
			<if test='newsContent!= null and newsContent!=""'>
				news_content=#{newsContent},
			</if>
			<if test='newsType!= null and newsType!=""'>
				news_type=#{newsType},
			</if>
			<if test='publishDate!= null and publishDate!=""'>
				publish_date=#{publishDate},
			</if>
			<if test='imageUrl!= null and imageUrl!=""'>
				image_url=#{imageUrl},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="listPage" resultMap="SysNewsDynamicList" parameterType="Page">
		select * from sys_news_dynamic
	</select>
	
	<select id="list" resultMap="SysNewsDynamicList" parameterType="SearchParam">
		select * from sys_news_dynamic
	</select>

	<select id="queryByIdKey" resultMap="SysNewsDynamicMap" parameterType="java.lang.Long">
		select * from sys_news_dynamic where id_key=#{idKey}
	</select>
	<select id="pageByType" resultMap="SysNewsDynamicList" parameterType="Page">
		select * from sys_news_dynamic where news_type = #{params.newsType} order by publish_date desc
	</select>
<!-- 	<select id="countByType" resultMap="java.lang.Long" parameterType="Page"> -->
<!-- 		select count(*) from sys_news_dynamic where news_type = #{params.newsType} order by publish_date desc -->
<!-- 	</select> -->
</mapper>
