<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysRegionMapper">
	<resultMap type="SysRegion" id="sysRegionMap">
		<id column="id_key" property="idKey"/>
		<result column="region_number" property="regionNumber"/>
		<result column="parent_id" property="parentId"/>
		<result column="region_name" property="regionName"/>
		<result column="memos" property="memos"/>
		<result column="region_type_id" property="regionTypeId"/>
		<result column="last_mark" property="lastMark"/>
		<result column="order_cd" property="orderCd"/>
	</resultMap>
     <resultMap type="SysRegion" id="sysRegionPMap">
		<id column="id_key" property="idKey"/>
		<result column="region_number" property="regionNumber"/>
		<result column="parent_id" property="parentId"/>
		<result column="region_name" property="regionName"/>
		<result column="memos" property="memos"/>
		<result column="region_type_id" property="regionTypeId"/>
		<result column="last_mark" property="lastMark"/>
		<result column="order_cd" property="orderCd"/>
		<result column="parent_name" property="parentName"/>
	</resultMap>
	<select id="queryChildrenByParentId" parameterType="java.lang.Long"
		resultMap="sysRegionMap">
		select * from sys_region t where t.parent_id = #{parentId}
	</select>

	<select id="edit" parameterType="java.lang.Long"
		resultMap="sysRegionPMap">
		select a.*,b.region_name as parent_name from sys_region a,sys_region b where a.parent_id=b.id_key(+) and a.id_key = #{idKey}
	</select>

	<update id="update" parameterType="SysRegion">
		update sys_region 
		<set>
	        <if test='regionNumber != "" and regionNumber != null'>
	            region_number = #{regionNumber},
	        </if>
	        <if test='parentId != "" and parentId != null'>
	            parent_id = #{parentId},
	        </if>
	        <if test='regionName != "" and regionName != null'>
	            region_name = #{regionName},
	        </if>
	        <if test='memos != "" and memos != null'>
	            memos = #{memos},
	        </if>
	        <if test='regionTypeId != "" and regionTypeId != null'>
	            region_type_id = #{regionTypeId},
	        </if>

	        <if test='lastMark != "" and lastMark != null'>
	            last_mark = #{lastMark},
	        </if>
	        <if test='orderCd != "" and orderCd != null'>
	            order_cd = #{orderCd},
	        </if>
	    </set>
	    where id_key = #{idKey}
	</update>
	
	<update id="updateLastMark" parameterType="java.util.Map">
		update sys_region SET last_mark = #{lastMark} WHERE id_key = #{idKey}
	</update>
	
	<update id="updateParentIdByIdKey" parameterType="java.util.Map">
		update sys_region SET parent_id = #{parentId} WHERE id_key = #{idKey}
	</update>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_region where id_key = #{idKey}
	</delete>

	<insert id="insert" parameterType="SysRegion" useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_region
		(id_key,region_number,parent_id,region_name,memos,region_type_id,last_mark,order_cd)
		values(#{idKey},#{regionNumber}, #{parentId}, #{regionName}, #{memos}, #{regionTypeId},	#{lastMark}, #{orderCd})
	</insert>
</mapper>