<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysTreeMapper">
	<resultMap type="com.dnake.common.EasyUiTreeModel" id="sysDeptTreeMap">
		<id column="id_key" property="id" />
		<result column="cd_nm" property="text" />
		<!-- <result column="" property="state" /> -->
		<!-- <result column="" property="iconCls" /> -->
		<!-- <result column="" property="attributes"/> -->
		<collection column="id_key" property="children" select="queryChildrenByParentId"/>
	</resultMap>
	<select id="selectDeptTree" parameterType="java.lang.Long" resultMap="sysDeptTreeMap">
		select * from sys_dept t where t.id_key = #{idKey}
	</select>
	<select id="queryChildrenByParentId" parameterType="java.lang.Long" resultMap="sysDeptTreeMap">
		select * from sys_dept t where t.parent_id = #{id_key}
	</select>
</mapper>