<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnake.mapper.system.SysUserPopedomMapper">
	<resultMap type="SysUserPopedom" id="sysUserPopedomMap">
		<id column="id_key" property="idKey" />
		<result column="user_id" property="userId" />
		<result column="dept_id" property="deptId" />
		<result column="type_id" property="type" />
	</resultMap>

	<resultMap type="SysUserPopedomVO" id="sysUserPopedomList">
		<id column="id_key" property="idKey" />
		<result column="user_id" property="userId" />
		<result column="dept_id" property="deptId" />
		<result column="type_id" property="type" />

		<result column="cd_nm" property="cdNm" />
	</resultMap>


	<insert id="insert" parameterType="SysUserPopedom"
		useGeneratedKeys="true" keyProperty="idKey">
		insert into sys_user_popedom(
		id_key,user_id,dept_id,type_id)
		values(
		#{idKey},#{userId},#{deptId},#{type})
	</insert>

	<delete id="delete" parameterType="java.lang.Long">
		delete from sys_user_popedom
		where id_key=#{idKey}
	</delete>

	<update id="update" parameterType="SysUserPopedom">
		update sys_user_popedom
		<set>
			<if test='userId!= null and userId!=""'>
				user_id=#{userId},
			</if>
		</set>
		where id_key= #{idKey}
	</update>

	<select id="queryByIdkey" resultMap="sysUserPopedomMap"
		parameterType="java.lang.Long">
		select * from sys_user_popedom where id_key=#{idKey}
	</select>

	<select id="query" resultMap="sysUserPopedomMap" parameterType="java.util.Map">
		select * from sys_user_popedom a
		<where>
			<if test='userId != null and userId != ""'>
				and a.user_id=#{userId}
			</if>
		</where>
	</select>

	<delete id="deleteMulti" parameterType="java.util.Map">
		delete from sys_user_popedom where id_key in
		<foreach item="item" index="index" collection="deviceIdin"
			open="(" separator="," close=")">${item}</foreach>
	</delete>

	<insert id="insertMulti" parameterType="java.util.List">
		insert into sys_user_popedom(
		user_id,dept_id,type_id)
		values
		<foreach collection="list" item="item" separator="," index="index">
			(#{item.userId},#{item.deptId},#{item.type})
		</foreach>
	</insert>

	<select id="queryPage" resultMap="sysUserPopedomList"
		parameterType="Page">
		select a.id_key , a.type_id ,a.dept_id,
		case when a.type_id = 5 then c.cu_name else b.cd_nm end as cd_nm
		from sys_user_popedom a
		left join sys_dept b on a.dept_id = b.id_key
		left join sys_community c on a.dept_id = c.id_key
		<where>
			<if test='params.userId != -1 and params.userId !=null'>
				and a.user_id = #{params.userId}
			</if>
		</where>
		ORDER BY type_id ASC
	</select>
	<!-- 获取账户的最高等级权限 -->
	<select id="getMinType" resultType="java.lang.Integer"
		parameterType="java.lang.Long">
		select min(type_id) from  sys_user_popedom where user_id =#{userId}
	</select>
	
	<select id="queryProvince" resultMap="sysUserPopedomList"
		parameterType="java.lang.Long">
		select a.id_key,a.cd_nm from sys_dept a where a.id_key in (select dept_id from sys_user_popedom where user_id=#{userId} and type_id=2) 
	</select>
	
	<select id="queryCity" resultMap="sysUserPopedomList">
		select a.id_key,a.cd_nm from sys_dept a where a.id_key in (select dept_id from sys_user_popedom where user_id=#{0} and type_id=3) or FIND_IN_SET(a.parent_id,#{1})  
	</select>
	<select id="queryCommunity" resultMap="sysUserPopedomList">
		select a.id_key,a.cu_name as cd_nm from sys_community a where a.id_key in (select dept_id from sys_user_popedom where user_id=#{0} and type_id=5) or FIND_IN_SET(a.city_id,#{1})  
	</select>
</mapper>
